<app-toolbar></app-toolbar>

<ion-content>
  <ion-slides class="slider-container">
    <ion-slide>
      <div>
        <img class="desktopslider" src="./assets/imgs/Page_3.png" alt="home">
        <img class="mobslider" src="./assets/imgs/mobileslider.png" alt="home">
        <div class="content">
          <p class="paraText">Lorem ipsum dolor sit amet, an his etiam torquatos. Tollit soleat phaedrum te duo, eum cu recteque expetendis neglegentur.</p>
          <h2 class="know">Know More</h2>
        </div>
      </div>
    </ion-slide>
    <ion-slide>
      <div>
        <img src="./assets/imgs/madison.jpg" alt="madison">
      </div>
    </ion-slide>
    <ion-slide>
      <div>
        <img src="./assets/imgs/homepic.jpg" alt="home">
      </div>
    </ion-slide>
  </ion-slides>

  <div class="container">
    <ion-row>
      <ion-col size="12" size-sm="10" offset-sm="1">
        <app-search-doctor
          [latitude]="lat"
          [longitude]="lng"
          (onSearch)="onDoctorSearch($event)"
        >
        </app-search-doctor>

        <app-doctors-map
          [latitude]="lat"
          [longitude]="lng"
          [doctorsListForMap]="doctorsListForMap"
          (onChangeCoordinates)="onMapPositionChange($event)"
        >
        </app-doctors-map>
      </ion-col>
    </ion-row>
  </div>

  <div class="container">
    <ion-row class="ion-text-center services-row">
      <ion-col>
        <ion-card class="service-block" routerLink="/doctor">
          <div class="service-icon"><img src="./assets/imgs/patienticon.png" alt="doctor"></div>
          <ion-card-content>
            <h2>Doctor</h2>
            Lorem ipsum dolor sit amet, an his etiam torquatos.
            <p><a style="text-decoration: underline;color: blue" routerLink="/auth">Register Now</a></p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card  routerLink="/landing">
          <div class="service-icon"><img  src="./assets/imgs/doctor.png" alt="patient"></div>
          <ion-card-content>
            <h2>Patient</h2>
            Lorem ipsum dolor sit amet, an his etiam torquatos.
            <p><a style="text-decoration: underline;color: blue" routerLink="/auth" (click)="$event.stopPropagation()">Register Now</a></p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </div>

  <div class="container">
    <ion-row class="reports-row">
      <ion-col size="6">
        <div class="content-container ion-padding-bottom">
          <h1>Track your reports</h1>
          <p>Lorem ipsum dolor sit amet, an his etiam torquatos. Tollit soleat phaedrum te duo, eum cu recteque expetendis neglegentur.</p>
          <p>Lorem ipsum dolor sit amet, an his etiam torquatos. Tollit soleat phaedrum te duo, eum cu recteque expetendis neglegentur.</p>
          <ion-button color="primary">Start Now</ion-button>
        </div>
      </ion-col>
      <ion-col size="6">
        <img class="reportimg" src="./assets/imgs/Page_4.png" alt="assistant">
      </ion-col>
    </ion-row>
  </div>

  <div class="contact-block">
    <div class="container ion-text-center">
      <ion-row>
        <ion-col size="12">
          <h1>Contact Us</h1>
        </ion-col>
        <ion-col size="12" class="ion-padding-bottom">
          <p>You may reach out to us for all your needs:</p>
        </ion-col>
      </ion-row>
      <ion-row class="contact-row">
        <ion-col size="4">
          <img src="./assets/imgs/emailicon.png" alt="assistant">
          <h2>swqaindia.com</h2>
        </ion-col>
        <ion-col size="4">
          <img src="./assets/imgs/phoicon.png" alt="assistant">
          <h2>222 555 666</h2>
        </ion-col>
        <ion-col size="4">
          <img src="./assets/imgs/mobicon.png" alt="assistant">
          <h2>87 66 878 876</h2>
        </ion-col>
      </ion-row>
    </div>
  </div>
  <div class="copyright ion-text-center">
    <ion-row>
      <ion-col size="12" class="ion-padding-top">
        <p>Wellbeing@Copyright</p>
      </ion-col>
    </ion-row>
  </div>
</ion-content>

