<div class="container" *ngIf="step==1">
  <div>
    <ion-text color="primary" align="center">
      <h3>
        Select new appointment Date
      </h3>
    </ion-text>
    <ion-item lines="inset">
      <ion-input type="date" ngModel required name="date" [(ngModel)]="appointmentDate" [min]="minDate"
        (ionChange)="onChange($event)" [placeholder]="translate.instant('COMMON.Date')">
      </ion-input>
    </ion-item>
  </div>
  <div class="action-container">
    <ion-button type="button" [disabled]="!appointmentDate" (click)="next()">Next</ion-button>
  </div>
</div>

<form #form="ngForm" (ngSubmit)="onSubmit()" *ngIf="step==2" class="container">
  <div>
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <ion-text color="primary" align="center">
            <h3>
              {{ getAppointmentDate() }} {{ translate.instant('PATIENT.Book Appointment') }}
            </h3>
          </ion-text>
        </ion-col>

        <ion-col size="12" *ngIf="!!error">
          <ion-text color="danger">
            <p>
              {{error}}
            </p>
          </ion-text>
        </ion-col>

        <ion-col size="12">
          <ion-item lines="inset">
            <ion-label position="stacked">Full Name</ion-label>
            <ion-input ngModel name="fullName" required [(ngModel)]="doctorInfo.patientName"
              [placeholder]="translate.instant('ONBOARDING.Full Name')" #fullNameCtrl="ngModel"></ion-input>
          </ion-item>
          <ion-item *ngIf="!fullNameCtrl.valid && fullNameCtrl.touched" lines="none">
            <ion-label color="danger">{{translate.instant('ONBOARDING.Full Name Required')}}</ion-label>
          </ion-item>
        </ion-col>


        <ion-col size="12" size-md="6">
          <ion-item lines="inset">
            <ion-datetime ngModel displayFormat="YYYY.MM.DD" placeholder="Appointment time" name="dateOfBirth" required
              [(ngModel)]="doctorInfo.dateOfBirth" [placeholder]="translate.instant('ONBOARDING.Date of Birth')">
            </ion-datetime>
          </ion-item>
        </ion-col>

        <ion-col size="12" size-md="6">
          <ion-item lines="none">
            <ion-select ngModel name="subspecialization" [placeholder]="translate.instant('Appointment type')"
              [(ngModel)]="doctorInfo.appointmentType">
              <ion-select-option value="New">
                New
              </ion-select-option>
              <ion-select-option value="New">
                Fallow up
              </ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>

        <ion-col size="12">
          <ion-row>
            <ion-col size="6" size-sm="3" size-md="2" *ngFor="let av of availability">
              <ion-button size="small" (click)="setAppointmentDate(av.timeSlot)"
                [fill]="isTimeSlotSelected(av.timeSlot) ? 'solid' : 'outline'" [disabled]="!av?.isAvailable">
                {{ av?.timeSlot }}
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-col>

      </ion-row>
    </ion-grid>

  </div>
  <div class="action-container">
    <ion-button type="submit"
      [disabled]="!doctorInfo.patientName || !doctorInfo.dateOfBirth || !doctorInfo.appointmentType">{{
      translate.instant(('PATIENT.Book Appointment')) }}</ion-button>
  </div>
</form>