.loginRole {
  display: block;
  width: 100%;
}

.loginRole ion-segment {
  width: 100%;
}

.loginRoleLabel {
  padding-top: 5px;
  padding-bottom: 8px;
}

.langselect {
  display: block;
  position: absolute;
  right: -20px;
  top: 5px;
}
