.loginRole {
  display: block;
  width: 100%;
}

.loginRole ion-segment {
  width: 100%;
}

.main_title{
  color:white;
}

.loginRoleLabel {
  padding-top: 5px;
  padding-bottom: 8px;
}

.langselect {
  display: block;
  position: absolute;
  right: -20px;
  top: 5px;
}

.login-block{
  margin-top: 12%;
}
ion-button{
  width: max-content;
}
.login-btn-row{
  text-align: -webkit-center;
}

.container-block{
  background: white;
  /*margin-left: 20%;   //commented as this is not working in mobile version
  margin-right: 20%;
  box-shadow: 10px 10px 20px #0000009B;*/
}
.login-block{  //commented as this is not working in mobile version
  //padding-top: 8px;
}
nav {
 // border-bottom: 1px solid black;
}

.crumbs ol {
  list-style-type: none;
  padding-left: 50%;
}

.crumb {
  // display: inline-block;
}

.crumb a::after {
  display: inline-block;
  color: black;
  content: '>';
  font-size: 80%;
  font-weight: bold;
  padding: 0 3px;
}

.page-title{
  font-size: 24px;
  color: #1d506d;
  background-color: transparent;
  margin-top: 8% !important;
  margin-bottom: 20px !important;
}
.container-block{margin: 0px 25% 0px 25%;}