<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            WellBeing
        </ion-title>
        <ion-buttons class="lang-buttons ion-hide-md-down" slot="primary">
            <app-langselect></app-langselect>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-row>
        <ion-col size="2" class="vertical-menu">
            Left Navigation
        </ion-col>
        <ion-col size="10" *ngIf="doctor">
            <ion-grid>
                <form #profileForm="ngForm" (ngSubmit)="save(profileForm)">

                    <!-- Profile Pic and change password block -->
                    <ion-row>
                        <ion-col>
                            <ion-item>
                                <ion-avatar style="width: 200px;height: 200px;" slot="start">
                                    <label class="hoverable" for="fileInput">
                                        <img [src]="doctor.profilePic ? doctor.profilePic: './assets/icon/profile.jpg'"
                                             alt="profile">
                                        <div class="hover-text">Change Profile Pic</div>
                                        <div class="background"></div>
                                    </label>
                                </ion-avatar>
                                <input id="fileInput" type="file" (change)="onProfilePicChange($event)">
                                <div class="col text-left">
                                    <ion-label> Dr.{{ doctor.firstName }} {{doctor.lastName}}</ion-label>
                                    <ion-label style="text-decoration: underline;color: blue;font-size: small"
                                               (click)="changePassword = true"> change your password here
                                    </ion-label>
                                    <ion-label *ngIf="doctor.profilePic"
                                               style="text-decoration: underline;color: blue;font-size: small"
                                               (click)="removeProfilePic()">remove profile picture
                                    </ion-label>
                                    <label *ngIf="!doctor.profilePic"
                                           style="text-decoration: underline;color: blue;font-size: small"
                                           for="fileInputLink">Upload profile Picture</label>
                                    <input id="fileInputLink" type="file" (change)="onProfilePicChange($event)">
                                </div>
                            </ion-item>
                        </ion-col>
                        <ion-col>
                            <form #pwdForm="ngForm" (ngSubmit)="newPassword(pwdForm)">
                                <ion-row>
                                    <ion-col *ngIf="changePassword" size-md="6" offset-md="3">
                                        <ion-item>
                                            <ion-label class="asterisk" position="stacked">Current Password</ion-label>
                                            <ion-input
                                                    type="password"
                                                    ngModel
                                                    name="cPass"
                                                    required
                                                    #cpassCtrl="ngModel">
                                            </ion-input>
                                        </ion-item>
                                        <ion-item *ngIf="cpassCtrl.invalid && (cpassCtrl.touched || cpassCtrl.dirty)"
                                                  lines="none">
                                            <ion-item *ngIf="cpassCtrl.errors.required">
                                                <ion-label color="danger"> current password required</ion-label>
                                            </ion-item>
                                        </ion-item>
                                        <ion-item>
                                            <ion-label class="asterisk" position="stacked">New Password</ion-label>
                                            <ion-input
                                                    type="password"
                                                    ngModel
                                                    name="nPass"
                                                    required
                                                    minlength="8"
                                                    #npassCtrl="ngModel">
                                            </ion-input>
                                        </ion-item>
                                        <ion-item *ngIf="npassCtrl.invalid && (npassCtrl.touched || npassCtrl.dirty)"
                                                  lines="none">
                                            <ion-item *ngIf="npassCtrl.errors.required">
                                                <ion-label color="danger"> New password required</ion-label>
                                            </ion-item>
                                            <ion-item *ngIf="npassCtrl.errors.minlength">
                                                <ion-label color="danger"> 8 characters mininum</ion-label>
                                            </ion-item>
                                        </ion-item>
                                        <ion-item>
                                            <ion-label class="asterisk" position="stacked">Confirm Password</ion-label>
                                            <ion-input
                                                    type="password"
                                                    ngModel
                                                    name="coPass"
                                                    required
                                                    minlength="8"
                                                    #copassCtrl="ngModel">
                                            </ion-input>
                                        </ion-item>
                                        <ion-item *ngIf="copassCtrl.invalid && (copassCtrl.touched || copassCtrl.dirty)"
                                                  lines="none">
                                            <ion-item *ngIf="copassCtrl.errors.required">
                                                <ion-label color="danger"> current password required</ion-label>
                                            </ion-item>
                                        </ion-item>
                                        <ion-item *ngIf="copassCtrl.valid && npassCtrl.value !== copassCtrl.value">
                                            <ion-label color="danger"> Passwords do not match.</ion-label>
                                        </ion-item>
                                        <div class="col text-center">
                                            <ion-button type="submit"
                                                        [disabled]="pwdForm.invalid || npassCtrl.value !== copassCtrl.value">
                                                Save
                                            </ion-button>
                                            <ion-button (click)="changePassword = false">cancel</ion-button>
                                        </div>
                                    </ion-col>
                                </ion-row>
                            </form>
                        </ion-col>
                    </ion-row>

                    <!-- Basic Details Block -->
                    <ion-row>
                        <ion-col>
                            <ion-item>
                                <ion-label class="asterisk" position="stacked"><strong>First Name</strong></ion-label>
                                <ion-input type="text" ngModel name="fName" required pattern="[a-zA-Z ]*"
                                           #fnameCtrl="ngModel" [(ngModel)]="doctor.firstName">
                                </ion-input>
                            </ion-item>
                            <ion-item *ngIf="fnameCtrl.invalid && (fnameCtrl.touched || fnameCtrl.dirty)"
                                      lines="none">
                                <ion-item *ngIf="fnameCtrl.errors.required">
                                    <ion-label color="danger"> first name required,cannot be empty</ion-label>
                                </ion-item>
                                <ion-item *ngIf="fnameCtrl.hasError('pattern')">
                                    <ion-label color="danger"> first name is invalid</ion-label>
                                </ion-item>
                            </ion-item>

                            <ion-item>
                                <ion-label position="stacked"><strong> Date Of Birth</strong> <br>
                                    <label><input class="birthDate" type="date" name="bDate" [(ngModel)]="doctor.dateOfBirth"></label>
                                </ion-label>
                            </ion-item>
                        </ion-col>

                        <ion-col>
                            <ion-item>
                                <ion-label class="asterisk" position="stacked"><strong>Last Name</strong></ion-label>
                                <ion-input type="text" ngModel name="lName" required pattern="[a-zA-Z ]*"
                                           #lnameCtrl="ngModel" [(ngModel)]="doctor.lastName">
                                </ion-input>
                            </ion-item>
                            <ion-item *ngIf="lnameCtrl.invalid && (lnameCtrl.touched || lnameCtrl.dirty)"
                                      lines="none">
                                <ion-item *ngIf="lnameCtrl.errors.required">
                                    <ion-label color="danger"> Last name required,cannot be empty</ion-label>
                                </ion-item>
                                <ion-item *ngIf="lnameCtrl.hasError('pattern')">
                                    <ion-label color="danger"> Last name is invalid</ion-label>
                                </ion-item>
                            </ion-item>
                            <ion-item>
                                <ion-label class="asterisk" position="stacked"><strong>Contact Number</strong></ion-label>
                                <ion-input type="number" name="contact" ngModel required pattern="^\d{10}$"
                                           #contactCtrl="ngModel" [(ngModel)]="doctor.mobile">
                                </ion-input>
                            </ion-item>
                            <ion-item *ngIf="contactCtrl.invalid && (contactCtrl.touched || contactCtrl.dirty)"
                                      lines="none">
                                <ion-item *ngIf="contactCtrl.errors.required">
                                    <ion-label color="danger"> Contact Number required</ion-label>
                                </ion-item>
                                <ion-item *ngIf="contactCtrl.hasError('pattern')">
                                    <ion-label color="danger">Contact Number is invalid</ion-label>
                                </ion-item>
                            </ion-item>
                        </ion-col>
                    </ion-row>

                    <!-- specialization Details Block -->
                    <ion-row>
                        <ion-col>
                            <ion-item>
                                <ion-label position="stacked"><strong>Specialization</strong>
                                    <ion-input type="text" name="sp" [(ngModel)]="doctor.specialization"
                                               readonly></ion-input>
                                </ion-label>
                            </ion-item>
                            <ion-item>
                                <ion-label position="stacked"><strong>Experience In Specializations(In years)</strong>
                                    <ion-input type="text" name="exp" [(ngModel)]="doctor.experience"
                                               readonly></ion-input>
                                </ion-label>
                            </ion-item>
                        </ion-col>
                        <ion-col>
                            <ion-item>
                                <ion-label position="stacked"><strong>Sub Specialization</strong>
                                    <ion-input type="text" name="sub" [(ngModel)]="doctor.subspecialization"
                                               readonly></ion-input>
                                </ion-label>
                            </ion-item>
                            <ion-item>
                                <ion-label position="stacked"><strong>Upload Documents</strong></ion-label>
                                <ion-item>
                                    <input type="file"
                                           id="file-input"
                                           accept="image/*"
                                           name="cert">
                                </ion-item>
                            </ion-item>
                        </ion-col>
                    </ion-row>
                    <div class="col text-center">
                        <ion-button type="submit" [disabled]="profileForm.invalid">Save</ion-button>
                    </div>
                </form>
            </ion-grid>
        </ion-col>
    </ion-row>
</ion-content>