<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <ion-title class="ion-text-center">Clinic Set up <ion-label *ngIf="!clinicSetup">?</ion-label></ion-title>

        <div *ngIf="!clinicSetup"  class="btn-container">
          <ion-button (click)="clinicSetup = true">Now</ion-button>
          <ion-button (click)="next()">Later</ion-button>
        </div>

        <div *ngIf="clinicSetup">
        <!--CLINIC BLOCK-->
        <ion-row>
          <ion-col  class="subBlocks">
            <ion-label>Clinic/Hospital Details</ion-label>
            <ion-icon *ngIf="!showClinic" (click)="showClinic = true" name="add-circle-sharp"></ion-icon>
            <ion-icon *ngIf="showClinic" (click)="showClinic = false" name="remove-circle-sharp"></ion-icon>
          </ion-col>
        </ion-row>

        <ion-row *ngIf="showClinic">
          <ion-col  class="subBlocks">
        <ion-item>
          <ion-label position="floating">Name </ion-label>
          <ion-input
                  type="rNo"
                  ngModel
                  name="rNo"
                  required
                  rNo
                  #rNoCtrl="ngModel">
          </ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Address</ion-label>
          <ion-input
                  type="rNo"
                  ngModel
                  name="rNo"
                  required
                  rNo
                  #rNoCtrl="ngModel">
          </ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Shift Timing</ion-label>
          <ion-input
                  type="rNo"
                  ngModel
                  name="rNo"
                  required
                  rNo
                  #rNoCtrl="ngModel">
          </ion-input>
        </ion-item>

      </ion-col>
        </ion-row>

        <!--AVAILIBILITY BLOCK-->
        <ion-row>
          <ion-col  class="subBlocks">
            <ion-label>Availability</ion-label>
            <ion-icon *ngIf="!showAvail"  (click)="showAvail = true" name="add-circle-sharp"></ion-icon>
            <ion-icon  *ngIf="showAvail" (click)="showAvail = false" name="remove-circle-sharp"></ion-icon>
          </ion-col>
        </ion-row>

        <ion-row *ngIf="showAvail" > 
          <ion-col  class="subBlocks">
          <ion-item>
          <ion-label position="fixed">Days</ion-label>
          </ion-item>
            <ion-label>Monday
            <ion-checkbox slot="end" checked="false"></ion-checkbox></ion-label>
         
            <ion-label>Tuesday
            <ion-checkbox slot="end" checked="false"></ion-checkbox></ion-label>
         
         
            <ion-label>Wednesday
            <ion-checkbox slot="end" checked="false"></ion-checkbox></ion-label>
         
            <ion-label>Thursday
            <ion-checkbox slot="end" checked="false"></ion-checkbox></ion-label>
          
            <ion-label>friday
            <ion-checkbox slot="end" checked="false"></ion-checkbox></ion-label>
         
            <ion-label>Saturday
            <ion-checkbox slot="end" checked="false"></ion-checkbox></ion-label>
          
            <ion-label>Sunday
            <ion-checkbox slot="end" checked="false"></ion-checkbox></ion-label>
      

          <ion-item>
          <ion-label position="fixed">Slot per Patient</ion-label>
          </ion-item>
          <ion-label>15 mins
          <ion-checkbox slot="end" checked="false"></ion-checkbox></ion-label>

          <ion-label>30 mins
          <ion-checkbox slot="end" checked="false"></ion-checkbox></ion-label>

          <ion-label>45 mins
          <ion-checkbox slot="end" checked="false"></ion-checkbox></ion-label>

          <ion-label>1 hour
          <ion-checkbox slot="end" checked="false"></ion-checkbox></ion-label>

        <ion-item>
          <ion-label position="fixed">Shift Timing</ion-label>
        </ion-item>
          <ion-label>Morning
            <ion-checkbox slot="end" checked="false"></ion-checkbox></ion-label>
          <ion-label>Afternoon
            <ion-checkbox slot="end" checked="false"></ion-checkbox></ion-label>
          <ion-label>Evening
            <ion-checkbox slot="end" checked="false"></ion-checkbox></ion-label>
          </ion-col>
        </ion-row>
         
        <!--FEE BLOCK-->
        <ion-row>
      <ion-col  class="subBlocks">
        <ion-label>Fee Structure</ion-label>
        <ion-icon *ngIf="!showFee"  (click)="showFee = true" name="add-circle-sharp"></ion-icon>
        <ion-icon  *ngIf="showFee" (click)="showFee = false" name="remove-circle-sharp"></ion-icon>
      </ion-col>
        </ion-row>

        <ion-row *ngIf="showFee" > 
    <ion-col  class="subBlocks">
    <ion-item>
      <ion-label position="floating">Consultation Fee </ion-label>
      <ion-input
              type="rNo"
              ngModel
              name="rNo"
              required
              rNo
              #rNoCtrl="ngModel">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Follow up Fee</ion-label>
      <ion-input
              type="rNo"
              ngModel
              name="rNo"
              required
              rNo
              #rNoCtrl="ngModel">
      </ion-input>
    </ion-item>
  </ion-col>
        </ion-row>
      </div>

        <div *ngIf="clinicSetup" class="btn-container">
          <ion-button (click)="prev()">Back</ion-button>
         <!--  <ion-button>Save</ion-button> -->
          <ion-button (click)="next()">Next</ion-button>
        </div>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
