<ion-header>
    <ion-toolbar>
        <ion-title>Complete Profile</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form #basicForm="ngForm" (ngSubmit)="next(basicForm)">
        <ion-grid>
            <ion-row>
                <ion-col size-md="6" offset-md="3" class="block-border">
                    <ion-title class="ion-text-center"><strong>Basic Information</strong></ion-title>

                    <ion-item>
                        <ion-item>
                            <ion-label position="floating"><strong>First Name</strong></ion-label>
                            <ion-input type="text"
                                       ngModel
                                       name="fName"
                                       required
                                       pattern="[a-zA-Z ]*"
                                       #fnameCtrl="ngModel"
                                       [(ngModel)]="patient.fName">
                            </ion-input>
                        </ion-item>
                        <!--<ion-item>
                            <ion-label position="floating"><strong>Middle Name</strong></ion-label>
                            <ion-input type="text"
                                       ngModel
                                       name="mName"
                                       required
                                       pattern="[a-zA-Z ]*"
                                       #mnameCtrl="ngModel"
                                       [(ngModel)]="patient.mName">
                            </ion-input>
                        </ion-item>-->
                        <ion-item>
                            <ion-label position="floating"><strong>Last Name</strong></ion-label>
                            <ion-input type="text"
                                       ngModel
                                       name="lName"
                                       required
                                       pattern="[a-zA-Z ]*"
                                       #lnameCtrl="ngModel"
                                       [(ngModel)]="patient.lName">
                            </ion-input>
                        </ion-item>
                    </ion-item>

                    <ion-item *ngIf="fnameCtrl.invalid && (fnameCtrl.touched || fnameCtrl.dirty)" lines="none">
                        <ion-item *ngIf="fnameCtrl.errors.required">
                            <ion-label color="danger"> first name required</ion-label>
                        </ion-item>
                        <ion-item *ngIf="fnameCtrl.hasError('pattern')">
                            <ion-label color="danger"> first name is invalid</ion-label>
                        </ion-item>
                    </ion-item>
                    <!--<ion-item *ngIf="mnameCtrl.invalid && (mnameCtrl.touched || mnameCtrl.dirty)" lines="none">
                        <ion-item *ngIf="mnameCtrl.errors.required">
                            <ion-label color="danger"> middle name required</ion-label>
                        </ion-item>
                        <ion-item *ngIf="mnameCtrl.hasError('pattern')">
                            <ion-label color="danger"> middle name is invalid</ion-label>
                        </ion-item>
                    </ion-item>-->
                    <ion-item *ngIf="lnameCtrl.invalid && (lnameCtrl.touched || lnameCtrl.dirty)" lines="none">
                        <ion-item *ngIf="lnameCtrl.errors.required">
                            <ion-label color="danger"> last name required</ion-label>
                        </ion-item>
                        <ion-item *ngIf="lnameCtrl.hasError('pattern')">
                            <ion-label color="danger"> last name is invalid</ion-label>
                        </ion-item>
                    </ion-item>

                    <ion-item>
                        <ion-label position="floating"><strong>Contact Number</strong></ion-label>
                        <ion-input type="tel"
                                   ngModel
                                   name="contact"
                                   required
                                   pattern="^\d{10}$"
                                   [(ngModel)]="patient.contactNumber"
                                   #contactCtrl="ngModel">
                        </ion-input>
                    </ion-item>
                    <ion-item *ngIf="contactCtrl.invalid && (contactCtrl.touched || contactCtrl.dirty)" lines="none">
                        <ion-item *ngIf="contactCtrl.errors.required">
                            <ion-label color="danger"> Contact Number required</ion-label>
                        </ion-item>
                        <ion-item *ngIf="contactCtrl.hasError('pattern')">
                            <ion-label color="danger">Contact Number is invalid</ion-label>
                        </ion-item>
                    </ion-item>
                    <ion-item>
                        <ion-label position="floating"><strong>Email</strong></ion-label>
                        <ion-input
                                type="email"
                                ngModel
                                name="emailID"
                                required
                                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
                                [(ngModel)]="patient.email"
                                #emailCtrl="ngModel">
                        </ion-input>
                    </ion-item>
                    <ion-item *ngIf="emailCtrl.invalid && (emailCtrl.touched || emailCtrl.dirty)" lines="none">
                        <ion-item *ngIf="emailCtrl.errors.required">
                            <ion-label color="danger"> Email required</ion-label>
                        </ion-item>
                        <ion-item *ngIf="emailCtrl.hasError('pattern')">
                            <ion-label color="danger">email is Invalid</ion-label>
                        </ion-item>
                    </ion-item>

                    <ion-item>
                        <ion-label position="floating"><strong>Gender </strong></ion-label>
                        <ion-select ngModel
                                    name="gender"
                                    [(ngModel)]="patient.gender">
                            <ion-select-option value="m">Male</ion-select-option>
                            <ion-select-option value="f">Female</ion-select-option>
                        </ion-select>
                    </ion-item>

                    <ion-item>
                        <ion-label style="text-align: center;"><strong>Address</strong></ion-label>
                    </ion-item>
                    <ion-item>
                        <ion-label position="floating"><strong>Address line 1</strong></ion-label>
                        <ion-input type="text"
                                   name="address1"
                                   [(ngModel)]="patient.addressLine1">
                        </ion-input>
                    </ion-item>


                    <ion-item>
                        <ion-label position="floating"><strong>Address line 2</strong></ion-label>
                        <ion-input type="text"
                                   name="address2"
                                   [(ngModel)]="patient.addressLine2">
                        </ion-input>
                    </ion-item>


                    <ion-item>
                        <ion-label position="floating"><strong>City</strong></ion-label>
                        <ion-input type="text"
                                   name="city"
                                   [(ngModel)]="patient.city">
                        </ion-input>
                    </ion-item>


                    <ion-item>
                        <ion-label position="floating"><strong>State/Provience/Region</strong></ion-label>
                        <ion-input type="text"
                                   name="state"
                                   [(ngModel)]="patient.state">
                        </ion-input>
                    </ion-item>


                    <ion-item>
                        <ion-label position="floating"><strong>Zip/Postal code</strong></ion-label>
                        <ion-input type="number"
                                   name="code"
                                   [(ngModel)]="patient.zipcode">
                        </ion-input>
                    </ion-item>


                    <ion-item>
                        <ion-label position="floating"><strong>Country</strong></ion-label>
                        <ion-input type="text"
                                   name="country"
                                   [(ngModel)]="patient.country">
                        </ion-input>
                    </ion-item>

                    <ion-item>
                        <a (click)="showTermsAndConditions()"
                           style="text-decoration: underline; color: #0000ff">
                            Terms and Conditions
                        </a>
                        <ion-checkbox slot="start"
                                      name="terms"
                                      required
                                      [(ngModel)]="patient.termsConditions">
                        </ion-checkbox>
                    </ion-item>
                </ion-col>
            </ion-row>
            <div class="col text-center">
                <ion-button type="submit" [disabled]="!basicForm.valid || !patient.termsConditions">Save</ion-button>
            </div>
        </ion-grid>
    </form>
</ion-content>
