<app-toolbar></app-toolbar>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="2" class="vertical-menu"> Left side navigation </ion-col>
      <ion-col size="10" *ngIf="patient">
        <ion-title> {{translate.instant('COMMON.Welcome')}} {{ patient.firstName}},</ion-title>
        <div style="margin-left: 2%">
          <div style="background-color: #bfdcc5">
            <ion-text color="dark">
              <h3>
                {{translate.instant('PATIENT.Notice')}}: Lorem ipsum dolor sit amet, consectetur
                adipiscing elit.
              </h3>
            </ion-text>
          </div>

          <app-search-doctor
            [latitude]="lat"
            [longitude]="lng"
            (onSearch)="this.onDoctorSearch($event)"
          >
          </app-search-doctor>

          <app-doctors-map
            [latitude]="lat"
            [longitude]="lng"
            [doctorsListForMap]="doctorsListForMap"
            (onChangeCoordinates)="onMapPositionChange($event)"
          >
          </app-doctors-map>

          <div *ngIf="searchedDoctors">
            <ion-row>
              <ion-col size="6">
                <ion-list>
                  <ion-item *ngFor="let d of searchedDoctors">
                    <ion-label>Dr. {{d.firstName}}</ion-label>
                    <ion-note slot="end">21 may 2020</ion-note>
                    <ion-icon slot="end" (click)="docDetails = d" name="alert-circle-outline"></ion-icon>
                  </ion-item>
                </ion-list>
              </ion-col>
              <ion-col size="6">
                <app-doctor-details *ngIf="docDetails" [doc]="docDetails"></app-doctor-details>
              </ion-col>
            </ion-row>
          </div>
          <div>
            <ion-row>
              <ion-col>{{translate.instant('PATIENT.Recently Visited') }}
                {{translate.instant('COMMON.Doctor')}}</ion-col>
              <ion-col>{{translate.instant('PATIENT.Reports')}}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-list>
                  <ion-item>
                    <ion-label>Dr.Abc</ion-label>
                    <ion-note slot="end">21 may 2020</ion-note>
                    <ion-icon slot="end" name="alert-circle-outline"></ion-icon>
                  </ion-item>
                  <ion-item>
                    <ion-label>Dr.xyz</ion-label>
                    <ion-note slot="end">16 july 2020</ion-note>
                    <ion-icon slot="end" name="alert-circle-outline"></ion-icon>
                  </ion-item>
                  <ion-item>
                    <ion-label>Dr.Lorem</ion-label>
                    <ion-note slot="end">2 feb 2021</ion-note>
                    <ion-icon slot="end" name="alert-circle-outline"></ion-icon>
                  </ion-item>
                </ion-list>
              </ion-col>
              <ion-col>
                <ion-list>
                  <ion-item>
                    <ion-label>X Ray</ion-label>
                    <ion-note slot="end">21 may 2020</ion-note>
                    <ion-icon slot="end" name="alert-circle-outline"></ion-icon>
                  </ion-item>
                  <ion-item>
                    <ion-label>CT Scan</ion-label>
                    <ion-note slot="end">16 july 2020</ion-note>
                    <ion-icon slot="end" name="alert-circle-outline"></ion-icon>
                  </ion-item>
                  <ion-item>
                    <ion-label>MRI</ion-label>
                    <ion-note slot="end">2 feb 2021</ion-note>
                    <ion-icon slot="end" name="alert-circle-outline"></ion-icon>
                  </ion-item>
                </ion-list>
                <ion-row class="ion-justify-content-center"><a href="#">{{translate.instant('PATIENT.View All') }}</a>
                </ion-row>
              </ion-col>
            </ion-row>
          </div>

          <div>
            <ion-row>
              <ion-col>{{translate.instant('PATIENT.Book Appointment') }}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-calendar></ion-calendar>
              </ion-col>
              <ion-col>
                <div style="background-color: #ef827a">
                  <ion-text color="dark">
                    <h3>
                      {{translate.instant('PATIENT.Alert') }}: NEXT APPOINTMENT IS IN 5 MINS.
                      <ion-icon name="close-circle-outline"></ion-icon>
                    </h3>
                  </ion-text>
                </div>
                <div *ngFor="let appointment of appointments">
                  <app-appointment-card *ngIf="appointment" (reloadData)="loadAppointments()" [appointment]="appointment">
                  </app-appointment-card>
                </div>
              </ion-col>
            </ion-row>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>