.search{
  padding: 9px;
  border-style: solid;
}

.page-title{
  margin-top: 25px;
  margin-bottom: 25px;
  color: #1d506d;
  font-size: 24px;
  text-transform: uppercase;
}

.notice{
     padding:14px;
     box-shadow: 0 2px 13px 2px #cfcfcf;  
     margin-bottom: 25px;
}
.reports-row{
  margin-top: 25px;
  margin-bottom: 20px;
}
.block-title{
  font-size: 18px;
  color: #606060;
}
.alert{
  padding:14px;
     box-shadow: 0 2px 13px 2px #cfcfcf;  
     margin-bottom: 25px;
}