<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col size-md="6" offset-md="3" class="block-border">
                <ion-title class="ion-text-center"><strong>Basic Information</strong></ion-title>

                <ion-item>
                    <ion-label><strong>Registration Number</strong></ion-label>
                    <ion-input type="text"
                               placeholder="Registartion Number"
                               [(ngModel)]="basicInformation.regNo">
                    </ion-input>
                </ion-item>

                <ion-item>
                    <ion-label><strong>Full Name</strong></ion-label>
                    <ion-input type="text"
                               placeholder="FirstName MiddleName LastName"
                               [(ngModel)]="basicInformation.fullname">
                    </ion-input>
                </ion-item>
                <ion-item>
                    <ion-label><strong>Date of Birth</strong></ion-label>
                    <ion-datetime
                                  displayFormat="MMMM DD, YYYY"
                                  [(ngModel)]="basicInformation.birthDate"
                                  placeholder="Birth Date">
                    </ion-datetime>
                </ion-item>

                <ion-item>
                    <ion-label><strong>Gender </strong></ion-label>
                    <ion-select
                                [(ngModel)]="basicInformation.gender"
                                placeholder="Gender">
                        <ion-select-option value="m">Male</ion-select-option>
                        <ion-select-option value="f">Female</ion-select-option>
                    </ion-select>
                </ion-item>


                <ion-item>
                    <ion-label><strong>Contact Number</strong></ion-label>
                    <ion-input type="number"
                               placeholder="Mobile Number"
                               [(ngModel)]="basicInformation.contactNumber">
                    </ion-input>
                </ion-item>

            </ion-col>
        </ion-row>
        <div class="col text-center">
            <ion-button (click)="next()">next</ion-button>
        </div>
    </ion-grid>
</ion-content>
