<ion-content>
    <form #basicForm="ngForm" (ngSubmit)="next(basicForm)">
        <ion-grid>
            <ion-row>
                <ion-col size-md="6" offset-md="3" class="block-border">
                    <ion-title class="ion-text-center"><strong>Basic Information</strong></ion-title>

                    <ion-item>
                        <ion-label><strong>Registration Number</strong></ion-label>
                        <ion-input type="text"
                                   ngModel
                                   name="rNo"
                                   pattern="[a-zA-Z0-9]*"
                                   placeholder="Registration Number"
                                   [(ngModel)]="doctor.registrationId"
                                   #eCtrl="ngModel">
                        </ion-input>
                    </ion-item>
                    <ion-item *ngIf="eCtrl.invalid && (eCtrl.touched || eCtrl.dirty)"
                              lines="none">
                        <ion-item *ngIf="eCtrl.hasError('pattern')">
                            <ion-label color="danger"> registration number is invalid</ion-label>
                        </ion-item>
                    </ion-item>

                    <ion-item>
                        <ion-label class="asterisk"><strong>Full Name</strong></ion-label>
                        <ion-input type="text"
                                   ngModel
                                   name="fName"
                                   required
                                   pattern="[a-zA-Z]*"
                                   placeholder="FirstName"
                                   #nameCtrl="ngModel"
                                   [(ngModel)]="doctor.firstName">
                        </ion-input>
                        <ion-input type="text"
                                   ngModel
                                   name="lName"
                                   required
                                   pattern="[a-zA-Z]*"
                                   placeholder="LastName"
                                   #lnameCtrl="ngModel"
                                   [(ngModel)]="doctor.lastName">
                        </ion-input>
                    </ion-item>
                    <ion-item *ngIf="nameCtrl.invalid && (nameCtrl.touched || nameCtrl.dirty)" lines="none">
                        <ion-item *ngIf="nameCtrl.errors.required">
                            <ion-label color="danger"> First name required</ion-label>
                        </ion-item>
                        <ion-item *ngIf="nameCtrl.hasError('pattern')">
                            <ion-label color="danger"> First name is invalid</ion-label>
                        </ion-item>
                    </ion-item>
                    <ion-item *ngIf="lnameCtrl.invalid && (lnameCtrl.touched || lnameCtrl.dirty)" lines="none">
                        <ion-item *ngIf="lnameCtrl.errors.required">
                            <ion-label color="danger"> Last name required</ion-label>
                        </ion-item>
                        <ion-item *ngIf="lnameCtrl.hasError('pattern')">
                            <ion-label color="danger"> Last name is invalid</ion-label>
                        </ion-item>
                    </ion-item>
                    <ion-item>
                        <ion-label class="asterisk"><strong>Date of Birth</strong></ion-label>
                        <label><input [(ngModel)]="doctor.dateOfBirth"
                                      type="date" name="bDate"
                                      ngModel required>
                        </label>
                    </ion-item>

                    <ion-item>
                        <ion-label class="asterisk"><strong>Gender </strong></ion-label>
                        <ion-item>
                            <label class="radio-inline">
                                <input type="radio" name="gender"
                                       [(ngModel)]="doctor.gender" value="m" required
                                       #gender="ngModel">Male
                            </label>
                        </ion-item>
                        <ion-item>
                            <label class="radio-inline">
                                <input type="radio" name="gender"
                                       [(ngModel)]="doctor.gender" value="f" required>Female
                            </label>
                        </ion-item>
                        <ion-item>
                            <label class="radio-inline">
                                <input type="radio" name="gender"
                                       [(ngModel)]="doctor.gender" value="o" required>Other
                            </label>
                        </ion-item>
                    </ion-item>
                    <ion-item *ngIf="gender.invalid && (gender.touched || gender.dirty)" lines="none">
                    <ion-item *ngIf="gender.errors?.required">
                        <ion-label color="danger"> Gender Selection required</ion-label>
                    </ion-item>
                    </ion-item>

                    <ion-item>
                        <ion-label class="asterisk"><strong>Contact Number</strong></ion-label>
                        <ion-input type="number"
                                   ngModel
                                   name="contact"
                                   required
                                   placeholder="Mobile Number"
                                   [(ngModel)]="doctor.address.mobile"
                                   #contactCtrl="ngModel">
                        </ion-input>
                    </ion-item>
                    <ion-item *ngIf="contactCtrl.invalid && (contactCtrl.touched || contactCtrl.dirty)" lines="none">
                        <ion-item *ngIf="contactCtrl.errors.required">
                            <ion-label color="danger"> Contact number required</ion-label>
                        </ion-item>
                        <ion-item *ngIf="contactCtrl.hasError('pattern')">
                            <ion-label color="danger"> Contact number is invalid</ion-label>
                        </ion-item>
                    </ion-item>
                </ion-col>
            </ion-row>
            <div class="col text-center">
                <ion-button type="submit" [disabled]="!basicForm.valid">next</ion-button>
            </div>
        </ion-grid>
    </form>
</ion-content>
