<ion-content>
  <form [formGroup]="basicForm" (ngSubmit)="next()">
  <ion-grid>
    <ion-row>
      <ion-col size-md="6" offset-md="3" class="block-border">
        <ion-title class="ion-text-center">Basic Information</ion-title>

        <ion-item>
          <ion-label>Registration Number</ion-label>
          <ion-input type="text" formControlName="rNo"     
                     placeholder="Registartion Number" 
                     [(ngModel)]="regNo">
          </ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Full Name</ion-label>
          <ion-input type="text" formControlName="fName"  
                     placeholder="FirstName MiddleName LastName"
                     [(ngModel)]="fullName">
          </ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Date of Birth</ion-label>
          <ion-datetime formControlName="dob"  
                        displayFormat="MMMM DD, YYYY"
                        [(ngModel)]="birthDate" 
                        placeholder="Birth Date">
          </ion-datetime>
        </ion-item>

        <ion-item>
          <ion-label>Gender</ion-label>
          <ion-select formControlName="gender"
                      [(ngModel)]="gender" 
                      placeholder="Gender">
            <ion-select-option value="m">Male</ion-select-option>
            <ion-select-option value="f">Female</ion-select-option>
          </ion-select>
        </ion-item>


        <ion-item>
          <ion-label>Contact Number</ion-label>
          <ion-input type="number" formControlName="code"  
                     placeholder="country Code"
                     [(ngModel)]="cCode">
          </ion-input>
          <ion-input type="number" formControlName="phone"  
                     placeholder="Mobile Number"
                     [(ngModel)]="contactNo">
          </ion-input>
        </ion-item>


      </ion-col>
    </ion-row>
    <div class="col text-center">
      <ion-button type="submit"  [disabled]="!basicForm.valid">next</ion-button>
    </div>
  </ion-grid>
  </form>
</ion-content>