<ion-title class="ion-text-center">{{ translate.instant('ONBOARDING.Clinic Setup') }}</ion-title>
<div *ngIf="!showSetUp">
  <ion-row class="ion-justify-content-center">
    <ion-col  class="ion-no-padding">
      <ion-button expand="block"  (click)="prev()">{{ translate.instant('COMMON.Back') }}</ion-button>
    </ion-col>
  </ion-row>
  <ion-row class="ion-justify-content-center">
    <ion-col class="ion-no-padding">
      <ion-button expand="block"  (click)="skip()">{{ translate.instant(('ONBOARDING.Skip Clinic Setup')) }}</ion-button>
    </ion-col>
  </ion-row>
  <ion-row class="ion-justify-content-center">
    <ion-col class="ion-no-padding">
      <ion-button expand="block" (click)="showSetUp = true">Set up</ion-button>
    </ion-col>
  </ion-row>
</div>

<form  *ngIf="showSetUp" #availabilityForm="ngForm" (ngSubmit)="next(availabilityForm)">
  <!--CLINIC BLOCK-->
  <ion-card class="ion-margin-bottom">
    <ion-item (click)="toggleExpanded('clinic')" lines="none">
      <ion-label color="primary">
        <strong>{{ translate.instant('ONBOARDING.Clinic/Hospital Details') }}</strong>
        <ion-icon
          class="info-icon"
          name="help-circle-outline"
          (click)="showSectionInfo($event, 'clinic')"
        ></ion-icon>
      </ion-label>

      <ion-icon slot="end" [name]="expandedItems.clinic ? 'remove' : 'add'"></ion-icon>
    </ion-item>

    <div [hidden]="!expandedItems.clinic">
      <div>
        <ion-item lines="inset">
          <ion-label
            class="asterisk"
            position="stacked"
            [color]="clinicNameCtrl.invalid && (clinicNameCtrl.touched || clinicNameCtrl.dirty) ? 'danger' : 'dark'"
          >
            {{ translate.instant('ONBOARDING.Clinic/Hospital Name') }}
          </ion-label>

          <ion-input
            ngModel
            name="clinicName"
            required
            [placeholder]="translate.instant('ONBOARDING.Clinic/Hospital Name')"
            pattern="[a-zA-Z0-9 ]*"
            [(ngModel)]="this.doctor.clinics[0].name"
            #clinicNameCtrl="ngModel">
          </ion-input>
        </ion-item>

        <ion-item
          *ngIf="clinicNameCtrl.invalid && (clinicNameCtrl.touched || clinicNameCtrl.dirty)"
          lines="none"
        >
          <ion-label
            *ngIf="clinicNameCtrl.hasError('required')"
            color="danger"
            class="ion-no-margin"
          >
            {{ translate.instant('ONBOARDING.Clinic Name Required') }}
          </ion-label>

          <ion-label
            *ngIf="clinicNameCtrl.hasError('patterns')"
            color="danger"
            class="ion-no-margin"
          >
            {{ translate.instant('ONBOARDING.Clinic Name Invalid') }}
          </ion-label>
        </ion-item>
      </div>

      <div>
        <ion-item lines="inset">
          <ion-label
            position="stacked"
            color="dark"
          >
            {{ translate.instant('ONBOARDING.Address Line') }} 1
          </ion-label>

          <ion-input
            ngModel
            name="address1"
            [placeholder]="translate.instant('ONBOARDING.Address Line') + ' 1'"
            [(ngModel)]="this.doctor.clinics[0].address.addressLine1"
          >
          </ion-input>
        </ion-item>
      </div>

      <div>
        <ion-item lines="inset">
          <ion-label
            position="stacked"
            color="dark"
          >
            {{ translate.instant('ONBOARDING.Address Line') }} 2
          </ion-label>

          <ion-input
            ngModel
            name="address1"
            [placeholder]="translate.instant('ONBOARDING.Address Line') + ' 2'"
            [(ngModel)]="this.doctor.clinics[0].address.addressLine2"
          >
          </ion-input>
        </ion-item>
      </div>

      <div>
        <ion-item lines="inset">
          <ion-label
            class="asterisk"
            position="stacked"
            [color]="cityCtrl.invalid && (cityCtrl.touched || cityCtrl.dirty) ? 'danger' : 'dark'"
          >
            {{ translate.instant('ONBOARDING.City') }}
          </ion-label>

          <ion-input
            ngModel
            name="city"
            required
            [placeholder]="translate.instant('ONBOARDING.City')"
            pattern="[a-zA-Z ]*"
            [(ngModel)]="this.doctor.clinics[0].address.city"
            #cityCtrl="ngModel">
          </ion-input>
        </ion-item>

        <ion-item
          *ngIf="cityCtrl.invalid && (cityCtrl.touched || cityCtrl.dirty)"
          lines="none"
        >
          <ion-label
            *ngIf="cityCtrl.hasError('required')"
            color="danger"
            class="ion-no-margin"
          >
            {{ translate.instant('ONBOARDING.City Required') }}
          </ion-label>

          <ion-label
            *ngIf="cityCtrl.hasError('patterns')"
            color="danger"
            class="ion-no-margin"
          >
            {{ translate.instant('ONBOARDING.City Invalid') }}
          </ion-label>
        </ion-item>
      </div>

      <div>
        <ion-item lines="inset">
          <ion-label
            class="asterisk"
            position="stacked"
            [color]="stateCtrl.invalid && (stateCtrl.touched || stateCtrl.dirty) ? 'danger' : 'dark'"
          >
            {{ translate.instant('ONBOARDING.State/Province/Region') }}
          </ion-label>

          <ion-input
            ngModel
            name="state"
            required
            [placeholder]="translate.instant('ONBOARDING.State/Province/Region')"
            pattern="[a-zA-Z ]*"
            [(ngModel)]="this.doctor.clinics[0].address.state"
            #stateCtrl="ngModel">
          </ion-input>
        </ion-item>

        <ion-item
          *ngIf="stateCtrl.invalid && (stateCtrl.touched || stateCtrl.dirty)"
          lines="none"
        >
          <ion-label
            *ngIf="stateCtrl.hasError('required')"
            color="danger"
            class="ion-no-margin"
          >
            {{ translate.instant('ONBOARDING.State Required') }}
          </ion-label>

          <ion-label
            *ngIf="stateCtrl.hasError('patterns')"
            color="danger"
            class="ion-no-margin"
          >
            {{ translate.instant('ONBOARDING.State Invalid') }}
          </ion-label>
        </ion-item>
      </div>

      <div>
        <ion-item lines="inset">
          <ion-label
            class="asterisk"
            position="stacked"
            [color]="zipCtrl.invalid && (zipCtrl.touched || zipCtrl.dirty) ? 'danger' : 'dark'"
          >
            {{ translate.instant('ONBOARDING.Zip/Postal Code') }}
          </ion-label>

          <ion-input
            ngModel
            name="zipcode"
            required
            [placeholder]="translate.instant('ONBOARDING.Zip/Postal Code')"
            pattern="[0-9]{6}"
            [(ngModel)]="this.doctor.clinics[0].address.zipcode"
            #zipCtrl="ngModel">
          </ion-input>
        </ion-item>

        <ion-item
          *ngIf="zipCtrl.invalid && (zipCtrl.touched || zipCtrl.dirty)"
          lines="none"
        >
          <ion-label
            *ngIf="zipCtrl.hasError('required')"
            color="danger"
            class="ion-no-margin"
          >
            {{ translate.instant('ONBOARDING.Zip Code Required') }}
          </ion-label>

          <ion-label
            *ngIf="zipCtrl.hasError('patterns')"
            color="danger"
            class="ion-no-margin"
          >
            {{ translate.instant('ONBOARDING.Zip Code Invalid') }}
          </ion-label>
        </ion-item>
      </div>

      <div>
        <ion-item lines="inset">
          <ion-label
            class="asterisk"
            position="stacked"
            [color]="countryCtrl.invalid && (countryCtrl.touched || countryCtrl.dirty) ? 'danger' : 'dark'"
          >
            {{ translate.instant('ONBOARDING.Country') }}
          </ion-label>

          <ion-input
            ngModel
            name="country"
            required
            [placeholder]="translate.instant('ONBOARDING.Country')"
            pattern="[a-zA-Z ]*"
            [(ngModel)]="this.doctor.clinics[0].address.country"
            #countryCtrl="ngModel">
          </ion-input>
        </ion-item>

        <ion-item
          *ngIf="countryCtrl.invalid && (countryCtrl.touched || countryCtrl.dirty)"
          lines="none"
        >
          <ion-label
            *ngIf="countryCtrl.hasError('required')"
            color="danger"
            class="ion-no-margin"
          >
            {{ translate.instant('ONBOARDING.Country Required') }}
          </ion-label>

          <ion-label
            *ngIf="countryCtrl.hasError('patterns')"
            color="danger"
            class="ion-no-margin"
          >
            {{ translate.instant('ONBOARDING.Country Invalid') }}
          </ion-label>
        </ion-item>
      </div>
    </div>
  </ion-card>

  <!--AVAILABILITY BLOCK-->
  <ion-card class="ion-margin-bottom">
    <ion-item (click)="toggleExpanded('availability')" lines="none">
      <ion-label color="primary">
        <strong>{{ translate.instant('ONBOARDING.Availability') }}</strong>
        <ion-icon
          class="info-icon"
          name="help-circle-outline"
          (click)="showSectionInfo($event, 'availability')"
        ></ion-icon>
      </ion-label>
      <ion-icon slot="end" [name]="expandedItems.availability ? 'remove' : 'add'"></ion-icon>
    </ion-item>

    <div [hidden]="!expandedItems.availability">
      <ion-item-group
        class="ion-margin-bottom"
        *ngFor="let schedule of doctor.clinics[0].schedules; let i = index"
      >
        <ion-item lines="none">
          <ion-text>
            <strong>
              {{translate.instant('ONBOARDING.Schedule')}} #{{i + 1}}
            </strong>
          </ion-text>

          <ion-button
            (click)="removeSchedule(i)"
            [disabled]="doctor.clinics[0].schedules.length === 1"
            [color]="doctor.clinics[0].schedules.length > 2 ? 'dark' : 'medium'"
            fill="clear"
            slot="end"
          >
            {{translate.instant('COMMON.Remove')}}
            <ion-icon name="trash-outline"></ion-icon>
          </ion-button>
        </ion-item>

        <div>
          <ion-item lines="inset">
            <ion-label
              position="stacked"
              color="dark"
            >
              {{ translate.instant('ONBOARDING.Days') }}
            </ion-label>

            <ion-select
              name="days"
              multiple
              [(ngModel)]="schedule.availableDays"
              [placeholder]="!schedule.availableDays?.length ? translate.instant('ONBOARDING.Select Availability Days') : ''"
            >
              <ion-select-option *ngFor="let day of days" [value]="day">
                {{ translate.instant('COMMON.' + day) }}
              </ion-select-option>
            </ion-select>
          </ion-item>
        </div>

        <div>
          <ion-item lines="inset">
            <ion-label
              position="stacked"
              color="dark"
            >
              {{ translate.instant('ONBOARDING.Slots per Patient') }}
            </ion-label>

            <ion-select
              name="slotPerPatient"
              [(ngModel)]="schedule.slotPerPatient"
              [placeholder]="!schedule.slotPerPatient ? translate.instant('ONBOARDING.Select Patient Slot Time') : ''"
            >
              <ion-select-option *ngFor="let slot of slots" [value]="slot">
                {{slot}} {{ translate.instant('COMMON.minutes') }}
              </ion-select-option>
            </ion-select>
          </ion-item>
        </div>


        <div>
          <ion-item lines="inset">
            <ion-label position="stacked">{{translate.instant('ONBOARDING.Shift Starts At')}}</ion-label>

            <ion-datetime displayFormat="HH:mm"
                          placeholder="from"
                          name="from"
                          minuteValues="0,15,30,45"
                          [(ngModel)]="schedule.fromTime"
            >
            </ion-datetime>
          </ion-item>

          <ion-item lines="inset">
            <ion-label position="stacked">{{translate.instant('ONBOARDING.Shift Ends At')}}</ion-label>

            <ion-datetime displayFormat="HH:mm"
                          placeholder="from"
                          name="from"
                          minuteValues="0,15,30,45"
                          [(ngModel)]="schedule.toTime">
            </ion-datetime>
          </ion-item>

          <ion-item
            *ngIf="schedule.fromTime && schedule.toTime && !isScheduleTimeValid(schedule)"
            lines="none"
          >
            <ion-label
              color="danger"
              class="ion-no-margin"
            >
              {{ translate.instant('ONBOARDING.Invalid interval provided') }}
            </ion-label>
          </ion-item>
        </div>
      </ion-item-group>

      <div class="ion-text-center ion-margin-vertical">
        <ion-button (click)="addSchedule()">{{ translate.instant('ONBOARDING.Add Schedule') }}</ion-button>
      </div>
    </div>
  </ion-card>


  <!--FEES BLOCK-->
  <ion-card class="ion-margin-bottom">
    <ion-item (click)="toggleExpanded('fee')" lines="none">
      <ion-label color="primary">
        <strong>{{ translate.instant('ONBOARDING.Fee structure') }}</strong>
        <ion-icon
          class="info-icon"
          name="help-circle-outline"
          (click)="showSectionInfo($event, 'fee')"
        ></ion-icon>
      </ion-label>
      <ion-icon slot="end" [name]="expandedItems.fee ? 'remove' : 'add'"></ion-icon>
    </ion-item>

    <div [hidden]="!expandedItems.fee">
      <div>
        <ion-item lines="inset">
          <ion-label
            class="asterisk"
            position="stacked"
            [color]="consultingFeeCtrl.invalid && (consultingFeeCtrl.touched || consultingFeeCtrl.dirty) ? 'danger' : 'dark'"
          >
            {{ translate.instant('ONBOARDING.Consulting Fee') }}
          </ion-label>

          <ion-input
            ngModel
            name="consultingFee"
            type="number"
            required
            [placeholder]="translate.instant('ONBOARDING.Consulting Fee')"
            [(ngModel)]="this.doctor.clinics[0].consultationFee"
            #consultingFeeCtrl="ngModel">
          </ion-input>
        </ion-item>

        <ion-item
          *ngIf="consultingFeeCtrl.invalid && (consultingFeeCtrl.touched || consultingFeeCtrl.dirty)"
          lines="none"
        >
          <ion-label
            *ngIf="consultingFeeCtrl.hasError('required')"
            color="danger"
            class="ion-no-margin"
          >
            {{ translate.instant('ONBOARDING.Consulting Fee Required') }}
          </ion-label>
        </ion-item>
      </div>

      <div>
        <ion-item lines="inset">
          <ion-label
            class="asterisk"
            position="stacked"
            [color]="followUpFeeCtrl.invalid && (followUpFeeCtrl.touched || followUpFeeCtrl.dirty) ? 'danger' : 'dark'"
          >
            {{ translate.instant('ONBOARDING.Follow Up Fee') }}
          </ion-label>

          <ion-input
            ngModel
            name="followUpFee"
            type="number"
            required
            [placeholder]="translate.instant('ONBOARDING.Follow Up Fee')"
            [(ngModel)]="this.doctor.clinics[0].followUpFee"
            #followUpFeeCtrl="ngModel">
          </ion-input>
        </ion-item>

        <ion-item
          *ngIf="followUpFeeCtrl.invalid && (followUpFeeCtrl.touched || followUpFeeCtrl.dirty)"
          lines="none"
        >
          <ion-label
            *ngIf="followUpFeeCtrl.hasError('required')"
            color="danger"
            class="ion-no-margin"
          >
            {{ translate.instant('ONBOARDING.Follow Up Fee Required') }}
          </ion-label>
        </ion-item>
      </div>
    </div>
  </ion-card>


  <div class="ion-text-center ion-margin-vertical">
    <ion-button (click)="prev()">{{ translate.instant('COMMON.Back') }}</ion-button>
    <ion-button (click)="skip()">{{ translate.instant(('ONBOARDING.Skip Clinic Setup')) }}</ion-button>
    <ion-button type="submit" [disabled]="!availabilityForm.valid">{{ translate.instant(('COMMON.Next')) }}</ion-button>
  </div>
</form>
