<ion-content>
    <form #bioForm="ngForm" (ngSubmit)="next(bioForm)">
        <ion-grid>
            <ion-row>
                <ion-col size-md="6" offset-md="3" class="block-border">
                    <ion-title class="ion-text-center"><strong>Bio Information</strong></ion-title>
                    <ion-item>
                        <ion-label><strong>Date of Birth</strong></ion-label>
                        <ion-datetime displayFormat="MMMM DD, YYYY"
                                      ngModel
                                      name="dob"
                                      dob
                                      [(ngModel)]="bioInformation.birthDate"
                                      placeholder="Birth Date">
                        </ion-datetime>
                    </ion-item>

                    <ion-item>
                        <ion-label><strong>Gender </strong></ion-label>
                        <ion-select ngModel
                                    name="gender"
                                    gender
                                    [(ngModel)]="bioInformation.gender"
                                    placeholder="Gender">
                            <ion-select-option value="m">Male</ion-select-option>
                            <ion-select-option value="f">Female</ion-select-option>
                        </ion-select>
                    </ion-item>

                    <ion-item>
                        <ion-label><strong>Blood Group</strong></ion-label>
                        <ion-input
                                type="text"
                                ngModel
                                name="bg"
                                bg
                                placeholder="blood group"
                                [(ngModel)]="bioInformation.bloodGroup">
                        </ion-input>
                    </ion-item>

                  <ion-item>
                    <ion-label><strong>Clinical History</strong></ion-label>
                    <ion-input
                            type="text"
                            ngModel
                            name="ch"
                            ch
                            placeholder="mediacl history"
                            [(ngModel)]="bioInformation.clinicalHistory">
                    </ion-input>
                  </ion-item>

                </ion-col>
            </ion-row>
            <div class="col text-center">
              <ion-button (click)="prev()">Back</ion-button>
                <ion-button type="submit" [disabled]="!bioForm.valid">next</ion-button>
            </div>
        </ion-grid>
    </form>
</ion-content>
