<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            WellBeing
        </ion-title>
        <ion-buttons class="lang-buttons ion-hide-md-down" slot="primary">
            <app-langselect></app-langselect>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col size="2" class="vertical-menu">
                Left side navigation
            </ion-col>
            <ion-col size="10" *ngIf="patient">

                    <ion-title> Welcome {{ patient.firstName}},</ion-title>
                <div style="margin-left: 2%">
                    <ion-text color="dark">
                        <h3>Notice: Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3>
                    </ion-text>

                    <div>
                        <ion-label>Search Doctor</ion-label>
                        <ion-row>
                            <ion-col>Location</ion-col>
                            <ion-col>Specialization</ion-col>
                            <ion-col>Sub Specialization</ion-col>
                            <ion-col>Visit type</ion-col>
                            <ion-col>
                                <ion-icon name="search-outline"></ion-icon>
                            </ion-col>
                        </ion-row>
                    </div>
                    <div>
                        <ion-row>
                            <ion-col>Recently Visited Doctor</ion-col>
                            <ion-col>Reports</ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col>
                                <ion-list>
                                    <ion-item>
                                        <ion-label>Dr.Abc</ion-label>
                                        <ion-note slot="end">21 may 2020</ion-note>
                                        <ion-icon slot="end" name="alert-circle-outline"></ion-icon>
                                    </ion-item>
                                    <ion-item>
                                        <ion-label>Dr.xyz</ion-label>
                                        <ion-note slot="end">16 july 2020</ion-note>
                                        <ion-icon slot="end" name="alert-circle-outline"></ion-icon>
                                    </ion-item>
                                    <ion-item>
                                        <ion-label>Dr.Lorem</ion-label>
                                        <ion-note slot="end">2 feb 2021</ion-note>
                                        <ion-icon slot="end" name="alert-circle-outline"></ion-icon>
                                    </ion-item>
                                </ion-list>
                            </ion-col>
                            <ion-col>
                                <ion-list>
                                    <ion-item>
                                        <ion-label>X Ray</ion-label>
                                        <ion-note slot="end">21 may 2020</ion-note>
                                        <ion-icon slot="end" name="alert-circle-outline"></ion-icon>
                                    </ion-item>
                                    <ion-item>
                                        <ion-label>CT Scan</ion-label>
                                        <ion-note slot="end">16 july 2020</ion-note>
                                        <ion-icon slot="end" name="alert-circle-outline"></ion-icon>
                                    </ion-item>
                                    <ion-item>
                                        <ion-label>MRI</ion-label>
                                        <ion-note slot="end">2 feb 2021</ion-note>
                                        <ion-icon slot="end" name="alert-circle-outline"></ion-icon>
                                    </ion-item>
                                </ion-list>
                            </ion-col>
                        </ion-row>

                    </div>

                </div>
                <!-- <ion-row>
                     <ion-col size="5">
                         <ion-label><strong> Search Doctor Here </strong></ion-label>
                         <ion-select name="spec"
                                     (ionChange)="onSpecChange(specialization)"
                                     [(ngModel)]="specialization"
                                     placeholder="specialization">
                             <ion-select-option *ngFor="let s of specializations" [value]="s">
                                 {{s}}
                             </ion-select-option>
                         </ion-select>
                         <ion-select name="subspec"
                                     placeholder="sub-specialization">
                             <ion-select-option *ngFor="let sub of subSpecializations" [value]="sub">
                                 {{sub}}
                             </ion-select-option>
                         </ion-select>
                     </ion-col>
                     <ion-col size="5">
                         <ion-label *ngIf="specialization"><strong> {{specialization}} doctors</strong></ion-label>
                         <ion-chip *ngFor="let d of searchedDoctors" (click)="showAppointmentDetails(d)">
                             <ion-avatar>
                                 <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
                             </ion-avatar>
                             <ion-item>
                                 <ion-label><strong>Name: </strong> Dr. {{ d.firstName }} {{ d.lastName}}</ion-label>
                             </ion-item>
                             <ion-item>
                                 <ion-label><strong>Specialization:</strong> {{d.specialization}}</ion-label>
                             </ion-item>
                         </ion-chip>
                     </ion-col>
                 </ion-row>-->
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
