<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      WellBeing
    </ion-title>
    <ion-buttons class="lang-buttons ion-hide-md-down" slot="primary">
      <app-langselect></app-langselect>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="2" class="vertical-menu">
          Left side navigation
      </ion-col>
      <ion-col size="10">
        <ion-title> Welcome {{ patient ? patient.fName : 'user'}},</ion-title>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
