<ion-header>
  <ion-toolbar>
    <ion-row class="align-items-center">
      <ion-col size-xs="12" size-md="4">
        <ion-title class="main_title">Wellbeing</ion-title>
      </ion-col>

      <ion-col size-xs="12" size-md="4">
        <nav class="navbar">
          <a class="nav-link" routerLink="/landing">Home</a>
          <a class="nav-link" routerLink="/features">Features</a>
          <a class="nav-link" routerLink="/services">Services</a>
          <a class="nav-link" routerLink="/about">About</a>
        </nav>
      </ion-col>

      <ion-col size-xs="12" size-md="4" class="profile-container">
        <ion-icon class="profile" name="person" routerLink="/auth"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>
