<ion-header>
	<ion-navbar>
		<button ion-button menuToggle>
		  <ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>WellBeing</ion-title>
		<ion-buttons end>
		  <button ion-button icon-only *ngIf="userRole == 'patient'" (click)="openSearch()" >
			<ion-icon name="search"></ion-icon>
		  </button>
		</ion-buttons>
		<ion-buttons end>
		  <button ion-button icon-only (click)="openNotifications()">
			<ion-icon name="notifications"></ion-icon>
		  </button>
		</ion-buttons>
	</ion-navbar>
</ion-header>
 
<ion-content padding>
	<div *ngIf = "userRole == 'patient'">
		<!-- <ion-label text-capitalize>{{userRole}} Dashboard</ion-label> -->
		<h5>Hello {{userName}},</h5>
		<h4 class="uppercase">How can we help you today?</h4>
		<ion-grid class="dashboard">
			<ion-row>
				<ion-col col-6>
					<div class="insetBlock" (click)="activeAppointment()">
						<img src="assets/imgs/icon-active-appointment.png">
						<h4>Active Appointments</h4>
					</div>
				</ion-col>
				<ion-col col-6>
					<div class="insetBlock redBlock" (click)="searchDoctor()">
						<img src="assets/imgs/icon-book-appointment.png">
						<h4>Book Appointment</h4>
					</div>
				</ion-col>
				<ion-col col-6>
					<div class="insetBlock" (click)="searchLab()">
						<img src="assets/imgs/icon-search-labs-new.png">
						<h4>Search for Labs</h4>
					</div>
				</ion-col>
				<ion-col col-6>
					<div class="insetBlock" (click)="openReports()">
						<img src="assets/imgs/icon-reports.png">
						<h4>Reports</h4>
					</div>
				</ion-col>
				<ion-col col-6>
					<div class="insetBlock" (click)="openShareReports()">
						<img src="assets/imgs/icon-shared-reports.png">
						<h4>Shared Reports</h4>
					</div>
				</ion-col>
				<ion-col col-6>
				<a href="https://www.google.co.in/maps" style="text-decoration: none;">
					<div class="insetBlock" >
						<img src="assets/imgs/icon-pharmacy.png">
						<h4>Pharmacy</h4>
					</div>
				</a>
				</ion-col>
			</ion-row>
		</ion-grid>
	</div>
	<div *ngIf = "userRole == 'doctor'">
		<!-- <ion-label>Doctor Dashboard</ion-label> -->
		<h5>Hello Dr. {{userName}},</h5>
		<h4 class="text-capitalize">{{clinicName}}</h4>
		<ion-card padding>
			<div class="activeTurn">{{turnCount}}</div>
			<ion-label text-center>Current Turn Active</ion-label>
			<div text-center><button ion-button small (click)="updateAppointmentTurn()">Update</button></div>
		</ion-card>
		<ion-grid class="dashboard">
			<ion-row>
				<ion-col col-6>
					<div class="insetBlock redBlock" (click)="docCurrentAppointment()">
						<img src="assets/imgs/icon-book-appointment.png">
						<h4>Current Appointments</h4>
					</div>
				</ion-col>
				<ion-col col-6>
					<div class="insetBlock" (click)="docProfile()">
						<img src="assets/imgs/icon-search-labs.png">
						<h4>Profile Details</h4>
					</div>
				</ion-col>
				<ion-col col-6>
					<div class="insetBlock" (click)="scheduleList()">
						<img src="assets/imgs/icon-appointment-schedules.png">
						<h4>Appointment Schedules</h4>
					</div>
				</ion-col>
				<ion-col col-6>
					<div class="insetBlock" (click)="assistantList()">
						<img src="assets/imgs/icon-create-assistant.png">
						<h4>Manage Assistant</h4>
					</div>
				</ion-col>
				<ion-col col-6>
					<div class="insetBlock" (click)="openShareDocReports()">
						<img src="assets/imgs/icon-shared-reports.png">
						<h4>Shared Reports</h4>
					</div>
				</ion-col>
				<ion-col col-6>
					<div class="insetBlock" (click)="docIsOnLeave()">
						<img src="assets/imgs/icon-doc-leave-new.png">
						<h4>Doctor is on leave</h4>
					</div>
				</ion-col>
				<ion-col col-6>
					<div class="insetBlock" (click)="regPatient()">
						<img src="assets/imgs/icon-reg-patient.png">
						<h4>Register a Patient</h4>
					</div>
				</ion-col>
				<ion-col col-6>
					<div class="insetBlock" (click)="docAddAppointment()">
						<img src="assets/imgs/icon-add-appointment.png">
						<h4>Add an Appointment</h4>
					</div>
				</ion-col>
			</ion-row>
		</ion-grid>
		
		
	</div>
	<div *ngIf = "userRole == 'lab'">
		<!-- <ion-label>Lab Dashboard</ion-label> -->
		<h5>Hello {{userName}},</h5>
		<h4 class="uppercase">How can we help you?</h4>
		<ion-grid class="dashboard">
			<ion-row>
				<ion-col col-6>
					<div class="insetBlock redBlock" (click)="labCurrentAppointment()">
						<img src="assets/imgs/icon-book-appointment.png">
						<h4>Current Appointments</h4>
					</div> 
				</ion-col>
				<ion-col col-6>
					<div class="insetBlock" (click)="labProfile()">
						<img src="assets/imgs/icon-search-labs-new.png">
						<h4>Profile Details</h4>
					</div>
				</ion-col>
				<ion-col col-6>
					<div class="insetBlock" (click)="scheduleListLab()">
						<img src="assets/imgs/icon-appointment-schedules.png">
						<h4>Appointment Schedules</h4>
					</div>
				</ion-col>
				<ion-col col-6>
					<div class="insetBlock" (click)="labClosed()">
						<img src="assets/imgs/icon-lab-closed.png">
						<h4>Lab is Closed Message</h4>
					</div>
				</ion-col>
			</ion-row>
		</ion-grid>
	</div>
	<div *ngIf = "userRole == 'assistant'">
		<!-- <ion-label>Assistant Dashboard</ion-label> -->
		<h5>Hello {{userName}},</h5>
		<h4 class="text-capitalize">{{clinicName}}</h4>
		<ion-card padding>
			<div class="activeTurn">{{turnCount}}</div>
			<ion-label text-center>Current Turn Active</ion-label>
			<div text-center><button ion-button small (click)="updateAppointmentTurn()">Update</button></div>
		</ion-card>
		<ion-grid class="dashboard">
			<ion-row>
				<ion-col col-12>
					<div class="insetBlock redBlock full" (click)="docCurrentAppointment()">
						<img src="assets/imgs/icon-book-appointment.png">
						<h4>Current<br>Appointments</h4>
					</div> 
				</ion-col>
				<ion-col col-12>
					<div class="insetBlock full" (click)="docIsOnLeave()">
						<img src="assets/imgs/icon-doc-leave-new.png">
						<h4>Doctor is on<br>Leave</h4>
					</div>
				</ion-col>
				<ion-col col-6>
					<div class="insetBlock" (click)="regPatient()">
						<img src="assets/imgs/icon-reg-patient.png">
						<h4>Register a Patient</h4>
					</div>
				</ion-col>
				<ion-col col-6>
					<div class="insetBlock" (click)="docAddAppointment()">
						<img src="assets/imgs/icon-add-appointment.png">
						<h4>Add an Appointment</h4>
					</div>
				</ion-col>
			</ion-row>
		</ion-grid>
	</div>
</ion-content>
