<ion-content>
    <form #basicForm="ngForm" (ngSubmit)="next(basicForm)">
        <ion-grid>
            <ion-row>
                <ion-col size-md="6" offset-md="3" class="block-border">
                    <ion-title class="ion-text-center"><strong>Basic Information</strong></ion-title>
                    <ion-item>
                        <ion-label><strong>Full Name</strong></ion-label>
                        <ion-input type="text"
                                   ngModel
                                   name="fullName"
                                   required
                                   fullName
                                   placeholder="FirstName MiddleName LastName"
                                   #nameCtrl="ngModel"
                                   [(ngModel)]="basicInformation.fullName">
                        </ion-input>
                    </ion-item>
                    <ion-item *ngIf="!nameCtrl.valid && nameCtrl.touched " lines="none">
                        <ion-label color="danger"> Full Name required</ion-label>
                    </ion-item>
                    <ion-item>
                        <ion-label><strong>Contact Number</strong></ion-label>
                        <ion-input type="number"
                                   ngModel
                                   name="contact"
                                   required
                                   contact
                                   placeholder="Mobile Number"
                                   [(ngModel)]="basicInformation.contactNumber"
                                   #contactCtrl="ngModel">
                        </ion-input>
                    </ion-item>
                    <ion-item *ngIf="!contactCtrl.valid && contactCtrl.touched " lines="none">
                        <ion-label color="danger"> Contact Number required</ion-label>
                    </ion-item>
                    <ion-item>
                        <ion-label><strong>Email</strong></ion-label>
                        <ion-input
                                type="email"
                                ngModel
                                name="emailID"
                                required
                                emailID
                                placeholder="xyz@domain.com"
                                [(ngModel)]="basicInformation.email"
                                #emailCtrl="ngModel">
                        </ion-input>
                    </ion-item>
                    <ion-item *ngIf="!emailCtrl.valid && emailCtrl.touched " lines="none">
                        <ion-label color="danger"> Email required</ion-label>
                    </ion-item>

                    <ion-item>
                        <ion-label style="text-align: center;"><strong>Address</strong></ion-label>
                    </ion-item>
                    <ion-item>
                        <ion-label><strong>Address line 1</strong></ion-label>
                        <ion-input type="text"
                                   placeholder="address line 1"
                                   [(ngModel)]="basicInformation.address.addressLine1">
                        </ion-input>
                    </ion-item>


                    <ion-item>
                        <ion-label><strong>Address line 2</strong></ion-label>
                        <ion-input type="text"
                                   placeholder="address line 2"
                                   [(ngModel)]="basicInformation.address.addressLine2">
                        </ion-input>
                    </ion-item>


                    <ion-item>
                        <ion-label><strong>City</strong></ion-label>
                        <ion-input type="text"
                                   placeholder="City"
                                   [(ngModel)]="basicInformation.address.city">
                        </ion-input>
                    </ion-item>


                    <ion-item>
                        <ion-label><strong>State/Provience/Region</strong></ion-label>
                        <ion-input type="text"
                                   placeholder="State"
                                   [(ngModel)]="basicInformation.address.state">
                        </ion-input>
                    </ion-item>


                    <ion-item>
                        <ion-label><strong>Zip/Postal code</strong></ion-label>
                        <ion-input type="number"
                                   placeholder="Zip Code"
                                   [(ngModel)]="basicInformation.address.pin">
                        </ion-input>
                    </ion-item>


                    <ion-item>
                        <ion-label><strong>Country</strong></ion-label>
                        <ion-input type="text"
                                   placeholder="Country"
                                   [(ngModel)]="basicInformation.address.country">
                        </ion-input>
                    </ion-item>


                </ion-col>
            </ion-row>
            <div class="col text-center">
                <ion-button type="submit" [disabled]="!basicForm.valid">next</ion-button>
            </div>
        </ion-grid>
    </form>
</ion-content>
