ion-item ion-label{
  margin-bottom: 2%;
  font-size: larger;
  font-weight: 300;
}
img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}
.hoverable{
  position: relative;
  display: block;
  cursor: pointer;
  height: 200px;
  width: 200px;
}
.hoverable .hover-text{
  position: absolute;
  display: none;
  top: 50%;
  left:  50%;
  transform: translate(-50%,-50%);   
  z-index: 2;
}
.hoverable .background{
  position: absolute;
  display: none;
  top: 0;
  left:  0;
  bottom: 0;
  right: 0;
  background-color:rgba(255, 255, 255, 0.5);
  pointer-events: none;
  border-radius: 50%;
  z-index: 1;
}
.hoverable:hover .hover-text{
  display: block;
}
.hoverable:hover .background{
  display: block;
}

#fileInput{
  display: none;
}

.birthDate{
  border: none;
}
#fileInputLink{
  display: none;
}

.bg-color{background-color: white;margin-bottom: 16px; box-shadow: 2px 2px 5px 2px lightgrey;}

.profile-container{
  margin : 10px 30px 20px 30px;
}
.block-title{color:#1d506d;}
ion-col{
  padding: 20px 30px 20px 30px;
}
.blue-bg{background-color: #d4e3fc;padding: 20px 20px 20px 20px;margin-bottom: -30px;width: 100%;}