<ion-app>
<!--  Using *ngIf on the user role, some of these should be not shown for patient / doctor role. -->
  <ion-menu side="start" menuId="m1" contentId="main">
    <ion-header>
      <ion-toolbar>
        <ion-title>WellBeing</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle>
          <ion-item lines="none" [routerLink]="isPatient ? '/patient' : '/doctor'" button>
            <ion-icon name="home" slot="start"></ion-icon>
            <ion-label>Home</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle *ngIf="isDoctor || isAssistant">
          <ion-item lines="none" routerLink="/doctor/profile" button>
            <ion-icon name="person-circle-outline" slot="start"></ion-icon>
            <ion-label>Profile</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle *ngIf="isDoctor || isAssistant">
          <ion-item lines="none" routerLink="/doctor/appointment" button>
            <ion-icon name="calendar" slot="start"></ion-icon>
            <ion-label>Appointment</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <!--<ion-menu-toggle *ngIf="isDoctor || isAssistant">
          <ion-item lines="none" routerLink="/doctor/onboarding" button>
            <ion-icon name="cog" slot="start"></ion-icon>
            <ion-label>Onboarding</ion-label>
          </ion-item>
        </ion-menu-toggle>-->
        <ion-menu-toggle *ngIf="isDoctor">
          <ion-item lines="none" routerLink="/doctor/assistant" button>
            <ion-icon name="person-add" slot="start"></ion-icon>
            <ion-label>Assistant</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle *ngIf="isDoctor || isAssistant">
          <ion-item lines="none" routerLink="/doctor/patients" button>
            <ion-icon name="medkit" slot="start"></ion-icon>
            <ion-label>Patients</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item lines="none" (click) ="onLogout()" button>
            <ion-icon name="exit" slot="start"></ion-icon>
            <ion-label>Logout</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
