<ion-app>
  <ion-menu side="start" menuId="m1" contentId="main">
    <ion-header>
      <ion-toolbar>
        <ion-title>WellBeing</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>

      <ion-list>
        <ion-menu-toggle>
          <ion-item lines="none" routerLink="/home" button>
            <ion-icon name="business" slot="start"></ion-icon>
            <ion-label>Home</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item lines="none" routerLink="/appointment" button>
            <ion-icon name="business" slot="start"></ion-icon>
            <ion-label>Appointment</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item lines="none" routerLink="/profile" button>
            <ion-icon name="business" slot="start"></ion-icon>
            <ion-label>Profile</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item lines="none" routerLink="/assistant" button>
            <ion-icon name="business" slot="start"></ion-icon>
            <ion-label>Assistant</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item lines="none" routerLink="/patients" button>
            <ion-icon name="business" slot="start"></ion-icon>
            <ion-label>Patients</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item lines="none" (click) ="onLogout()" button>
            <ion-icon name="exit" slot="start"></ion-icon>
            <ion-label>Logout</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
