.search{
  --border-radius: 20px;
  width: max-content;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 4px;
  text-align: center;
}
.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 4px 8px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
}

.pagination a.active {
  background-color: #195a80;
  color: white;
  border: 1px solid #195a80;
}
.box {
    border-color: #403E39;
    border-width: thin;
    border-style: solid;
    border-radius: 50px;
}
