<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            WellBeing
        </ion-title>
        <ion-buttons class="lang-buttons ion-hide-md-down" slot="primary">
            <app-langselect></app-langselect>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-row>
        <ion-col size="2" class="vertical-menu">

            <ion-list>
                <!--<ion-menu-toggle>-->
                <ion-item lines="none" routerLink="/" button>
                    <ion-icon name="home" slot="start"></ion-icon>
                    <ion-label>Dashboard</ion-label>
                </ion-item>
                <!--</ion-menu-toggle>
                <ion-menu-toggle >-->
                <ion-item lines="none" routerLink="/appointment" button>
                    <ion-icon name="calendar" slot="start"></ion-icon>
                    <ion-label>Appointment</ion-label>
                </ion-item>
                <!--</ion-menu-toggle>
                <ion-menu-toggle>-->
                <ion-item lines="none" routerLink="/patients" button>
                    <ion-icon name="people-circle-outline" slot="start"></ion-icon>
                    <ion-label>Patients</ion-label>
                </ion-item>
                <!-- </ion-menu-toggle>
                 <ion-menu-toggle >-->
                <ion-item lines="none" routerLink="/todo" button>
                    <ion-icon name="calendar" slot="start"></ion-icon>
                    <ion-label>TO DO List</ion-label>
                </ion-item>
                <!--</ion-menu-toggle>
                <ion-menu-toggle>-->
                <ion-item lines="none" routerLink="/assistant" button>
                    <ion-icon name="person-add" slot="start"></ion-icon>
                    <ion-label>Assistant</ion-label>
                </ion-item>
                <!--</ion-menu-toggle>
                <ion-menu-toggle>-->
                <ion-item lines="none" routerLink="/clinic" button>
                    <ion-icon name="medkit-outline" slot="start"></ion-icon>
                    <ion-label>Clinic Set Up</ion-label>
                </ion-item>
                <!-- </ion-menu-toggle>
                 <ion-menu-toggle >-->
                <ion-item lines="none" routerLink="/profile" button>
                    <ion-icon name="person-circle-outline" slot="start"></ion-icon>
                    <ion-label>Profile</ion-label>
                </ion-item>
                <!--</ion-menu-toggle>
                <ion-menu-toggle>-->
                <ion-item lines="none" (click)="onLogout()" button>
                    <ion-icon name="exit" slot="start"></ion-icon>
                    <ion-label>Logout</ion-label>
                </ion-item>
                <!--</ion-menu-toggle>-->
            </ion-list>

        </ion-col>

        <ion-col size="10">
            <h1 class="ion-padding">{{ role }} Dashboard</h1>
            <ion-row class="quick-info">
                <ion-col size="4">
                    <ion-card>
                        <ion-row>
                            <ion-col>10</ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col>Total Patient</ion-col>
                        </ion-row>
                    </ion-card>
                </ion-col>
                <ion-col size="4">
                    <ion-card>
                        <ion-row>
                            <ion-col>10</ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col>Today Appointment</ion-col>
                        </ion-row>
                    </ion-card>
                </ion-col>
                <ion-col size="4">
                    <ion-card>
                        <ion-row>
                            <ion-col>10</ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col>New Appointment</ion-col>
                        </ion-row>
                    </ion-card>
                </ion-col>
            </ion-row>

            <ion-row class="alert alert-primary" style="margin: 12px;">
                <b>Notice : </b>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </ion-row>

            <ion-row class="to-do-class">
                <ion-col size="6">
                    <ion-card>
                        <ion-row>
                            <ion-col>Next Patient</ion-col>
                            <ion-col>-></ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col>Swqa</ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit,
                                vulputate eu pharetra nec
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col>View History</ion-col>
                        </ion-row>
                    </ion-card>
                </ion-col>
                <ion-col size="6">
                    <ion-card>
                        <ion-row>
                            <ion-col>To Do List</ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit,
                                vulputate eu pharetra nec
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col>-- Swqa</ion-col>
                        </ion-row>
                    </ion-card>
                </ion-col>
            </ion-row>

            <ion-row class="appointment">
                <h1 class="ion-padding">Check Appointment</h1>
                <ion-col size="6">
                    <ion-calendar>
                    </ion-calendar>
                </ion-col>
                <ion-col size="6">
                    <ion-card>
                        <ion-row>
                            <ion-col>Name</ion-col>
                            <ion-col>Agenda</ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col>Swqa</ion-col>
                            <ion-col>Agenda</ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col>Swqa</ion-col>
                            <ion-col>Agenda</ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col>Swqa</ion-col>
                            <ion-col>Agenda</ion-col>
                        </ion-row>
                    </ion-card>
                </ion-col>
            </ion-row>
            <ion-row class="history">
                <h1 class="ion-padding">History</h1>
            </ion-row>
        </ion-col>
    </ion-row>
</ion-content>


