<ion-title class="ion-text-center">
  <strong>{{ translate.instant('ONBOARDING.Practise Information') }}</strong>
</ion-title>

<ion-card>
  <form #practiseForm="ngForm" (ngSubmit)="next(practiseForm)">
    <div>
      <ion-item lines="inset">
        <ion-label
          class="asterisk"
          position="stacked"
          [color]="specializationCtrl.invalid && (specializationCtrl.touched || specializationCtrl.dirty) ? 'danger' : 'dark'"
        >
          {{ translate.instant('ONBOARDING.Specialization') }}
        </ion-label>

        <ion-select
          ngModel
          name="specialization"
          required
          [placeholder]="translate.instant('ONBOARDING.Specialization')"
          [(ngModel)]="doctor.specialization"
          (ngModelChange)="onSpecChange(doctor.specialization); doctor.subspecialization = ''"
          #specializationCtrl="ngModel"
        >
          <ion-select-option *ngFor="let specialization of specializations" [value]="specialization.value">
            {{specialization.name}}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item
        *ngIf="specializationCtrl.invalid && (specializationCtrl.touched || specializationCtrl.dirty)"
        lines="none"
      >
        <ion-label
          *ngIf="specializationCtrl.hasError('required')"
          color="danger"
          class="ion-no-margin"
        >
          {{ translate.instant('ONBOARDING.Specialization Required') }}
        </ion-label>
      </ion-item>
    </div>

    <div>
      <ion-item lines="inset">
        <ion-label
          position="stacked"
          [color]="subspecializationCtrl.invalid && (subspecializationCtrl.touched || subspecializationCtrl.dirty) ? 'danger' : 'dark'"
        >
          {{ translate.instant('ONBOARDING.Sub Specialization') }}
        </ion-label>

        <ion-select
          ngModel
          name="subspecialization"
          [disabled]="!subSpecializations?.length"
          [placeholder]="translate.instant(subSpecializations?.length ? 'ONBOARDING.Sub Specialization' : 'COMMON.Not applicable')"
          [(ngModel)]="doctor.subspecialization"
          #subspecializationCtrl="ngModel"
        >
          <ion-select-option *ngFor="let specialization of subSpecializations" [value]="specialization.value">
            {{specialization.name}}
          </ion-select-option>
        </ion-select>
      </ion-item>
    </div>

    <div>
      <ion-item lines="inset">
        <ion-label
          class="asterisk"
          position="stacked"
          [color]="experienceCtrl.invalid && (experienceCtrl.touched || experienceCtrl.dirty) ? 'danger' : 'dark'"
        >
          {{ translate.instant('ONBOARDING.Experience In Years') }}
        </ion-label>

        <ion-input
          ngModel
          type="number"
          name="experience"
          required
          [placeholder]="translate.instant('ONBOARDING.Experience In Years')"
          pattern="[0-9]{1,2}"
          [(ngModel)]="doctor.experience"
          #experienceCtrl="ngModel">
        </ion-input>
      </ion-item>

      <ion-item
        *ngIf="experienceCtrl.invalid && (experienceCtrl.touched || experienceCtrl.dirty)"
        lines="none"
      >
        <ion-label
          *ngIf="experienceCtrl.hasError('required')"
          color="danger"
          class="ion-no-margin"
        >
          {{ translate.instant('ONBOARDING.Experience Required') }}
        </ion-label>

        <ion-label
          *ngIf="experienceCtrl.hasError('patterns')"
          color="danger"
          class="ion-no-margin"
        >
          {{ translate.instant('ONBOARDING.Experience Invalid') }}
        </ion-label>
      </ion-item>
    </div>

    <div>
      <ion-item lines="inset" *ngIf="uploadCert">
        <ion-label
          class="asterisk"
          position="stacked"
          color="dark"
        >
          {{ translate.instant('ONBOARDING.Upload Certificate') }}
        </ion-label>

        <input
          type="file"
          id="file-input"
          accept="image/*,application/pdf"
          (change)="setUploadFile($event.target.files)"
          name="cert"
        >
      </ion-item>

      <ion-item lines="inset" *ngIf="doctor.certificate && !uploadCert">
        <ion-label
          class="asterisk"
          position="stacked"
          color="dark"
        >
          {{ translate.instant('ONBOARDING.Degree Certificate') }}
        </ion-label>

        <ion-text>
          {{doctor.certificate}}
        </ion-text>

        <ion-button slot="end" (click)="uploadCert = true">
          {{ translate.instant('COMMON.Change') }}
        </ion-button>
      </ion-item>
    </div>

    <div
      class="ion-text-center ion-margin-vertical"
    >
      <ion-button (click)="prev()">{{ translate.instant('COMMON.Back') }}</ion-button>
      <ion-button type="submit" [disabled]="!practiseForm.valid">{{ translate.instant(('COMMON.Next')) }}</ion-button>
    </div>
  </form>
</ion-card>

