<div class="container">
  <ion-row class="title-wrapper">
    <ion-text color="primary">
      <h3>
        My Notes
      </h3>
    </ion-text>
  </ion-row>
  <ion-row>

    <ion-col size="12" *ngFor="let note of notes; let i = index">
      <ion-card class="note-card">
        <ion-card-header>
          <ion-button size="small" (click)="delete(i)">Delete</ion-button>
        </ion-card-header>
        <ion-card-content>
          {{note}}
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</div>