<ion-content>
    <form #practiseForm="ngForm" (ngSubmit)="next(practiseForm)">
    <ion-grid>
        <ion-row>
            <ion-col size-md="6" offset-md="3" class="block-border">
                <ion-title class="ion-text-center">
                    <strong>Practise Information </strong>
                </ion-title>

                <ion-item>
                    <ion-label><strong>Specializations</strong></ion-label>
                    <ion-select ngModel
                                name = "spec"
                                required
                                [(ngModel)]="doctor.specialization"
                                (ionChange)="onSpecChange(doctor.specialization)"
                                placeholder="specialization">
                        <ion-select-option *ngFor="let s of specializations" [value]="s">
                            {{s}}
                        </ion-select-option>
                    </ion-select>
                </ion-item>

                <ion-item>
                    <ion-label><strong> No specialization listed?</strong></ion-label>
                    <ion-input type="text"
                               ngModel
                               name = "newSpec"
                               [(ngModel)]="newSpecialization"
                               placeholder="add here">
                    </ion-input>
                </ion-item>

                <ion-item>
                    <ion-label><strong> Sub Specialization </strong></ion-label>
                    <ion-select ngModel
                                name = "subspec"
                                [(ngModel)]="doctor.subspecialization"
                                placeholder="sub-specialization">
                        <ion-select-option *ngFor="let sub of subSpecializations" [value]="sub">
                            {{sub}}
                        </ion-select-option>
                    </ion-select>
                </ion-item>

                <ion-item>
                    <ion-label><strong>No sub-specialization listed? </strong></ion-label>
                    <ion-input ngModel
                               name = "newsubspec"
                               newsubspec
                               type="text"
                               [(ngModel)]="newSubSpecialization"
                               placeholder="add here">
                    </ion-input>
                </ion-item>

                <ion-item>
                    <ion-label><strong>Experience In Years </strong></ion-label>
                    <ion-input ngModel
                               name = "exp"
                               required
                               placeholder="Experience In years"
                               type="number"
                               [(ngModel)]="doctor.experience"
                               #expCtrl="ngModel">
                    </ion-input>
                </ion-item>
                <ion-item *ngIf="!expCtrl.valid && expCtrl.touched " lines="none">
                    <ion-label color="danger"> Enter years of experience</ion-label>
                </ion-item>

                <ion-row>
                    <ion-col size-md="6">
                        <ion-item>
                            <ion-label><strong> Degree Certificate</strong></ion-label>
                        </ion-item>
                    </ion-col>
                    <ion-col size-md="6">
                        <ion-item>
                            <input type="file"
                                   id="file-input"
                                   accept="image/*"
                                   ngModel
                                   name = "cert"
                                   required
                                   [(ngModel)]="doctor.documents">
                        </ion-item>
                    </ion-col>
                </ion-row>

            </ion-col>
        </ion-row>
        <div class="btn-container">
            <ion-button (click)="prev()">back</ion-button>
            <ion-button type="submit" [disabled]="!practiseForm.valid" >next</ion-button>
        </div>
    </ion-grid>
    </form>
</ion-content>


