<div style="border-style: groove">
  <ion-row>
    <ion-col size="auto">
      <ion-avatar>
        <img src="./assets/imgs/avatar.svg">
      </ion-avatar>
    </ion-col>
    <ion-col size="auto">
      <ion-label><strong>Dr. {{doc.firstName }} {{doc.lastName }}</strong></ion-label>
      <br>
      <ion-label><strong>Registration ID:</strong>{{doc.registrationId}}</ion-label>
      <br>
      <ion-label><strong>Specialization:</strong>{{doc.specialization}}</ion-label>
      <br>
      <ion-label><strong>SubSpecialization:</strong> {{doc.subspecialization ? doc.subspecialization : "N/A" }}
      </ion-label>
      <br>
      <ion-label><strong>Years of Experience:</strong>{{doc.experience}} years</ion-label>
      <br>
      <ion-label><strong>Contact number:</strong>{{doc.mobile}}</ion-label>
      <br>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="6" *ngFor="let c of doc.clinics; let ci = index">
      <ion-card>
        <ion-card-header>
          {{c.name}}
        </ion-card-header>
        <ion-card-content>
          {{c.address.addressLine1}}
          {{c.address.addressLine2}}
          {{c.address.city}},{{c.address.country}}
          {{c.address.state}},{{c.address.zipcode}}<br>
          <h5 style="color:blue">Availability</h5>
          <div *ngFor="let s of doc.clinics[ci].schedules; let i = index">
            <div>
              <ion-col style ="border-style: inset;padding: 2px;" size="auto"
                       *ngFor="let day of doc.clinics[ci].schedules[i].availableDays">
                {{day.substring(0, 3)}}
              </ion-col>
            </div>
            <ion-label><strong>From:</strong>{{doc.clinics[ci].schedules[i].fromTime}}</ion-label>
            <br>
            <ion-label><strong>To:</strong>{{doc.clinics[ci].schedules[i].toTime}}</ion-label>
            <br>
          </div>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</div>


