ion-badge{
    padding: 20px;
    border-radius: 100%;
}

.page-indicator{
    padding:30px;
    margin:30px;
}
ion-col hr{
    margin-top: 28%;
    border-top: 2px solid #0000001a;
}

:host ::ng-deep .p-steps-container {
  margin-top: 30px;
  margin-bottom: 30px;

  .p-steps-item {
    .p-menuitem-link {
      background-color: transparent;
    }
  }

  .p-steps-item:before {
    margin-top: 0 !important;
  }

  .p-steps-item:first-child:before {
    width: 50%;
    left: 50%;
  }

  .p-steps-item:last-child:before {
    width: 50%;
  }

  .p-steps-title {
    display: none;
    visibility: hidden;
  }
}

@media screen and (min-width: 576px) {
  :host ::ng-deep .p-steps-container {
    margin-top: 60px;
  }
}
