tr, td {
  text-align: left;
  padding: 5px 59px 5px 5px;
}
.reportsTable{
  border: 1px solid;
  text-align: center;
  width:fit-content;
  overflow: scroll;
}
.reportsTable tr{
  border: 1px solid;
}
.reportsTable td{
  border: 1px solid;
}
.reportsTable th{
  border: 1px solid;
}
