<app-toolbar></app-toolbar>

<ion-content>
  <ion-row>
    <ion-label><ion-icon name="arrow-back-circle-outline"></ion-icon>Back To List</ion-label>
  </ion-row>
  <ion-row class="ion-justify-content-center">
    <ion-card>
      <img src="./assets/imgs/madison.jpg" width="200" height="200"/>
    </ion-card>
  </ion-row>
  <ion-row class="ion-justify-content-center">
    <ion-card>
      <table class="details">
        <tr>
          <td>Name:</td>
          <td>Mohini Gupta</td>
        </tr>
        <tr>
          <td>Birth Date</td>
          <td>21 May</td>
        </tr>
        <tr>
          <td>Age</td>
          <td>23</td>
        </tr>
        <tr>
          <td>Blood Group</td>
          <td>B+</td>
        </tr>
      </table>
    </ion-card>
  </ion-row>
  <ion-row class="ion-justify-content-center">
    <ion-card>
      <ion-card-header>Reports</ion-card-header>
      <ion-card-content>
        <table class="reportsTable">
          <tr style="background-color: #cfe0ea">
            <th>Reports</th>
            <th>Date</th>
            <th>Actions</th>
          </tr>
          <tr>
            <td>Blood Report</td>
            <td>DEC 10,2019</td>
            <td><a href="#" style="text-decoration: underline">View</a></td>
          </tr>
          <tr>
            <td>Blood Report</td>
            <td>DEC 10,2019</td>
            <td><a href="#" style="text-decoration: underline">View</a></td>
          </tr>
          <tr>
            <td>Blood Report</td>
            <td>DEC 10,2019</td>
            <td><a href="#" style="text-decoration: underline">View</a></td>
          </tr>
        </table>

      </ion-card-content>
    </ion-card>
  </ion-row>

  <ion-row class="ion-justify-content-center">
    <ion-card>
      <ion-card-header>Past Appointments</ion-card-header>
      <ion-card-content>
        <table class="reportsTable">
          <tr style="background-color: #cfe0ea">
            <th>Day</th>
            <th>Date</th>
            <th>Time</th>
          </tr>
          <tr>
            <td>Monday</td>
            <td>DEC 10,2019</td>
            <td>11:00 am</td>
          </tr>
          <tr>
            <td>Tuesday</td>
            <td>DEC 9,2019</td>
            <td>11:00 am</td>
          </tr>
          <tr>
            <td>Monday</td>
            <td>Aug 17,2020</td>
            <td>11:00 am</td>
          </tr>
          <tr>
            <td>Friday</td>
            <td>June 24,2020</td>
            <td>11:00 am</td>
          </tr>
        </table>

      </ion-card-content>
    </ion-card>
  </ion-row>
</ion-content>
