.pageHeader{
  width: fit-content;
  font-size: large;
  font-weight: 500;
}
.search{
  border-radius: 50px !important;
  width: max-content;
}
.filterBar{
  background: #37377b;
  color: white;
  font-weight: 500;
}
