<ion-header>
  <ion-toolbar class="menu-container">
    <ion-buttons slot="start" class="menu-tab">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <nav class="navbar" class="menu">
      <a class="navbar-brand" href="#">Home</a>
      <a class="navbar-brand" href="#">Features</a>
      <a class="navbar-brand" href="#">Services</a>
      <a class="navbar-brand" href="#">About</a>
    </nav>
    <ion-buttons class="lang-buttons ion-hide-md-down" slot="primary">
      <app-langselect></app-langselect>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-grid>
  <ion-row>
    <ion-col size="2" class="vertical-menu">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link active" href="#">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Appointment</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Patient</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">To do list</a>
          </li>
          <li class="nav-item">
          <a class="nav-link" href="#">Assistant</a>
          </li>
          <li class="nav-item">
          <a class="nav-link" href="#">Profile</a>
          </li>
        </ul>
      </ion-col>
    <ion-col size="10">
      <ion-row>
        <ion-label class="pageHeader">Appointment</ion-label>
      </ion-row>

      <ion-row>
          <ion-col>
            <ion-searchbar class="search" placeholder="Search appointments"></ion-searchbar>
          </ion-col>
      </ion-row>

      <ion-row class="filterBar">
        <ion-col size="6">
          <ion-icon name="filter-outline"></ion-icon>
          <ion-label>FILTERS</ion-label>
        </ion-col>
        <ion-col size="6">
          <ion-toolbar>
            <ion-segment (ionChange)="filterChanged($event)">
              <ion-segment-button value="day">
                <ion-label name="day">Day</ion-label>
              </ion-segment-button>
              <ion-segment-button value="week">
                <ion-label name="week">Week</ion-label>
              </ion-segment-button>
              <ion-segment-button value="month">
                <ion-label name="month">Month</ion-label>
              </ion-segment-button>
              <ion-segment-button value="year">
                <ion-label name="year">Year</ion-label>
              </ion-segment-button>
            </ion-segment>
          </ion-toolbar>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="6">
          <ion-calendar>
          </ion-calendar>
        </ion-col>
        <ion-col size="6">
          <ion-button (click)="addNewAppointment()">Add New Appointment</ion-button>
          
          <ion-card>
            <ion-row>
              <ion-col>Date:15/02/2020</ion-col>
              <ion-col>Time: 03:00PM</ion-col>
            </ion-row>
              <ion-row><ion-col>Name: xyz</ion-col> </ion-row>
              <ion-row><ion-col>Appointment Type: Follow up</ion-col> </ion-row>
              <ion-row> <ion-col>Age:21</ion-col></ion-row>
            <ion-row>
              <ion-col><ion-button>Confirm</ion-button></ion-col>
              <ion-col><ion-button>Cancel</ion-button></ion-col>
              <ion-col><ion-button>Complete</ion-button></ion-col>
            </ion-row>
          </ion-card>

          <ion-card>
            <ion-row>
              <ion-col>Date:15/02/2020</ion-col>
              <ion-col>Time: 03:00PM</ion-col>
            </ion-row>
            <ion-row><ion-col>Name: xyz</ion-col> </ion-row>
            <ion-row><ion-col>Appointment Type: Follow up</ion-col> </ion-row>
            <ion-row> <ion-col>Age:21</ion-col></ion-row>
            <ion-row>
              <ion-col><ion-button>Confirm</ion-button></ion-col>
              <ion-col><ion-button>Cancel</ion-button></ion-col>
              <ion-col><ion-button>Complete</ion-button></ion-col>
            </ion-row>
          </ion-card>

          <ion-card>
            <ion-row>
              <ion-col>Date:15/02/2020</ion-col>
              <ion-col>Time: 03:00PM</ion-col>
            </ion-row>
            <ion-row><ion-col>Name: xyz</ion-col> </ion-row>
            <ion-row><ion-col>Appointment Type: Follow up</ion-col> </ion-row>
            <ion-row> <ion-col>Age:21</ion-col></ion-row>
            <ion-row>
              <ion-col><ion-button>Confirm</ion-button></ion-col>
              <ion-col><ion-button>Cancel</ion-button></ion-col>
              <ion-col><ion-button>Complete</ion-button></ion-col>
            </ion-row>
          </ion-card>

        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
