# This workflow will create a web build and push the new source to Amazon EC2
#
# To use this workflow, you will need to complete the following set-up steps:
#

on:
  push:
  pull_request:
    branches:
      - master

name: Deploy to Amazon DEV

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    environment: production
    strategy:
      matrix:
        node-version: [12.x]

    steps:
    - name: Checking out source code
      id: check-out
      uses: actions/checkout@v2

    - name: Using Node ${{ matrix.node-version }}
      id: use-node
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}

    - name: Installing dependencies
      id: dependency-install
      run: npm install

    - name: Building source
      id: build
      env:
        FIREBASE_API_KEY: ${{ secrets.FIREBASE_API_KEY }}
        FIREBASE_APP_ID: ${{ secrets.FIREBASE_APP_ID }}
        FIREBASE_AUTH_DOMAIN: ${{ secrets.FIREBASE_AUTH_DOMAIN }}
        FIREBASE_DATABASE_URL: ${{ secrets.FIREBASE_DATABASE_URL }}
        FIREBASE_MESSAGING_SENDER_ID: ${{ secrets.FIREBASE_MESSAGING_SENDER_ID }}
        FIREBASE_PROJECT_ID: ${{ secrets.FIREBASE_PROJECT_ID }}
        FIREBASE_REGION: ${{ secrets.FIREBASE_REGION }}
        FIREBASE_STORAGE_BUCKET: ${{ secrets.FIREBASE_STORAGE_BUCKET }}
      run: npm run build


    - name: Deploy to AWS EC2
      id: deploy
      run: |
        chmod 600 wellbeing0.pem
        tar zcf deploy.tgz -C www .
        scp -i wellbeing0.pem -o "StrictHostKeyChecking no" deploy.tgz ubuntu@ec2-13-235-90-205.ap-south-1.compute.amazonaws.com:~/wellbeing-dev-www/
        ssh -i wellbeing0.pem -o "StrictHostKeyChecking no" ubuntu@ec2-13-235-90-205.ap-south-1.compute.amazonaws.com tar zxf wellbeing-dev-www/deploy.tgz -C wellbeing-dev-www
        rm deploy.tgz
