# This workflow will build and push a new container image to Amazon ECR,
# and then will deploy a new task definition to Amazon ECS, when a release is created
#
# To use this workflow, you will need to complete the following set-up steps:
#
# 1. Create an ECR repository to store your images.
#    For example: `aws ecr create-repository --repository-name my-ecr-repo --region us-east-2`.
#    Replace the value of `ECR_REPOSITORY` in the workflow below with your repository's name.
#    Replace the value of `aws-region` in the workflow below with your repository's region.
#
# 2. Create an ECS task definition, an ECS cluster, and an ECS service.
#    For example, follow the Getting Started guide on the ECS console:
#      https://us-east-2.console.aws.amazon.com/ecs/home?region=us-east-2#/firstRun
#    Replace the values for `service` and `cluster` in the workflow below with your service and cluster names.
#
# 3. Store your ECS task definition as a JSON file in your repository.
#    The format should follow the output of `aws ecs register-task-definition --generate-cli-skeleton`.
#    Replace the value of `task-definition` in the workflow below with your JSON file's name.
#    Replace the value of `container-name` in the workflow below with the name of the container
#    in the `containerDefinitions` section of the task definition.
#
# 4. Store an IAM user access key in GitHub Actions secrets named `AWS_ACCESS_KEY_ID` and `AWS_SECRET_ACCESS_KEY`.
#    See the documentation for each action used below for the recommended IAM policies for this IAM user,
#    and best practices on handling the access key credentials.

on:
  pull_request:
  push:
    branches:
      - master

name: Deploy to Amazon DEV

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    environment: production
    strategy:
      matrix:
        node-version: [12.x]

    steps:
    - name: Checking out source code
      id: check-out
      uses: actions/checkout@v2

    - name: Using Node ${{ matrix.node-version }}
      id: use-node
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}

    - name: Installing dependencies
      id: dependency-install
      run: npm install

    - name: Building source
      id: build
      env:
        FIREBASE_API_KEY: AIzaSyBtLyDgODrQMSgl-Cf8zwTePbqqH4WLJWo
        FIREBASE_APP_ID: 1:99324770316:web:46597a07ae073a4de39629
        FIREBASE_AUTH_DOMAIN: wellbeing-3d322.firebaseapp.com
        FIREBASE_DATABASE_URL: https://wellbeing-3d322-default-rtdb.europe-west1.firebasedatabase.app
        FIREBASE_MESSAGING_SENDER_ID: 99324770316
        FIREBASE_PROJECT_ID: wellbeing-3d322
        FIREBASE_REGION: europe-west1
        FIREBASE_STORAGE_BUCKET: wellbeing-3d322.appspot.com
      run: npm run build



    - name: Deploy to Server
      uses: betanzos/scp-upload@v1
      with:
        source: www/
        host: ec2-13-235-90-205.ap-south-1.compute.amazonaws.com
        username: ubuntu
        key: "-----BEGIN RSA PRIVATE KEY-----MIIEpAIBAAKCAQEAnqvZfXRr1Zl772NVTJg+wcMArohYsAoqK5XT6tqbMftI7LlZ2Jg5DyRcgdC1463b4LpHvlhVKCzcp2gH5hsZoACB9ewkBYi0SSxQDxh7Zmn18rdBQcTa2wZgLuCK9cCwiVUhSeeahi4NJ8dyrOHlt53B31DqAsQXOoQy9rt9iTkolxoQdQ3LcxzRSLBlJej5HIAG8NbNbLPtL75RV0xFqhl+lX/ipCXjSYLC5/OUHCdGc0/4jduqjEB+D5OGCGlMgoOzeHOmSKMAldEIzSe44HLcGZoe9zmAQgZUfIph8RgBkSTTbOL1H/n4u8rC+vWyaFIt+2Xrai5LgDyJHi1KfQIDAQABAoIBAASHpXLmcvmrIxWngVTpd8kyVv+kltuXvrJ12ZH34bxgjylq9Tyww9hB0n5GRhsU6JUW3Ft7zBqUhUwmNSuFlIqz2QH7Vt/tkjAQmsyDh2paFhJy1uMYyqK8INzVvkHb2W5iRswEV64C/I8pK4XyAQvn7hQBDF092efqxEW0/pV/R5AYUPrfX5qDDBkvJHJibAgeKmC7diX0/P0XYFQri6RWy2msiFADM4yRAJ84aNk1VI/JBbgq01SgSzh0DBRNoO4kr1/AZtM9HCc6t0dY2ajZTr8egGvpPIoqN59Vo8Y52VtYMkfCHsyJZ0orBcN3YnWJMMqKh5tygmBJLs8D34ECgYEA8JMqYS5zLD1HqS4zSSdmR6XMS7DG87VPAU4JZa9TmSRwhdYmMg2KIGrahzailDIxYYwdYBpBw5VGyRG1x2OFJzAZmtFooCwP13GXct1HDhquJ4yV3hfb2B78E3ZbQrjC59Nz13R9L9ldv12TOBl/ksQ+RalZRbgoqsW/SkrgVR0CgYEAqNhOOHxT9HfUhp437SC8GlWzQM4+zEAQXvDYKflDRPYSFl/alLz8a3hfjZ7XNz5bcy9/jx8a/0IBzPh+Tf0u9Q3H4zseX8gGlmseSbd866s6kTEJPfFWNOAHaObQsplknm9aA8aJ0PPwq0PnX02rfuHVeG8mNpixgSZeLFOvrOECgYBSTMYuwMk91Sjyw49f806WLC4bpropHVmNxLiKRNSAi2rDHmOqs98Q//0KTLKJqDIkgN57xf/BfQveNWTOdUlUAqx/vivgv7Ibrgx1iyWHubDibsHGXLsk0FTEA7VsufBTho8Wog9Bk0by9HwssOxntSLoieq0Yy/mXAf4zmy4MQKBgQChfKhre/XsNoPs8Px6brmZ0mesTtZfEdLWizGkC4RcO6GXBryPT6V4wFtbnxUmAB0FMOOmplBy3NXODcj3nHTB6hlI6q0lXLF4QiFozfbLjCxq22SEewNBdReBLGlkuDM1GTkVrVj4oaeIllx/mVCx/Rrnoh8BTs9Ov7yIVs4J4QKBgQDf5YPqx4EcAcluhOHjSJraB1P8lJ4K/jpZ5TMfgIn8AhKmg5m2xCDAlkmF4HuIRRzqQhb2upyYdeXogYqiau4aFOoCINPVfGdugv6PAoJ2sxNAABNyqmg/ot105OntU3Tb1NjxXJ9n8nPKCHKoC4fbJuqHd0scdLEE/2EuefvrSw==-----END RSA PRIVATE KEY-----"
        remote_dir: '~/wellbeing-dev-www/'
