<div>
 <!-- <ion-title> {{translate.instant('COMMON.Welcome')}} User,</ion-title>-->
  <ion-label>{{translate.instant('COMMON.Search') }} {{translate.instant('COMMON.Doctor')}}</ion-label>
  <ion-row>
    <ion-col size="auto">
      <ion-button color="primary">
        <ion-select name="vType"
                    [placeholder]="translate.instant('PATIENT.Location')">
          <ion-select-option value="l1"> Location 1</ion-select-option>
          <ion-select-option value="l2"> Location 2</ion-select-option>
        </ion-select>
      </ion-button>
    </ion-col>
    <ion-col size="auto">
      <ion-button color="primary">
        <mat-form-field style="padding-top: 2%;text-align: center;color:white">
          <label>
            <input style="color:black" matInput [matDatepicker]="picker" [min]="minDate"
                   [max]="maxDate"
                   placeholder="Date"
                   name="aDate">
          </label>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker touchUi="true" #picker></mat-datepicker>
        </mat-form-field>
      </ion-button>
    </ion-col>
    <ion-col  size="auto">
      <ion-button color="primary">
        <ion-select [(ngModel)]="specialization"
                    [placeholder]="translate.instant('PATIENT.Specialization')"
                    (ionChange)="getSpecializedDoctor(specialization)">
          <ion-select-option [value]="s" *ngFor="let s of specializations">{{s}}</ion-select-option>
        </ion-select>
      </ion-button>
    </ion-col>
    <ion-col size="auto">
      <ion-button color="primary">
        <ion-select name="subspec" [disabled]="subSpecializations.length == 0"
                    [(ngModel)]="subspecialization"
                    [placeholder]="translate.instant('PATIENT.Sub Specialization')"
                    (ionChange)="getSubSpecializedDoctor(subspecialization)">
          <ion-select-option *ngFor="let sub of subSpecializations" [value]="sub">
            {{sub}}
          </ion-select-option>
        </ion-select>
      </ion-button>
    </ion-col>
    <ion-col size="auto">
      <ion-button color="primary">
        <ion-select name="vType"
                    [placeholder]="translate.instant('PATIENT.Visit Type')">
          <ion-select-option value="t1"> Type 1</ion-select-option>
          <ion-select-option value="t2"> Type 2</ion-select-option>
        </ion-select>
      </ion-button>
    </ion-col>
    <ion-col size="auto">
      <ion-icon class="search" name="search-outline"></ion-icon>
    </ion-col>
  </ion-row>
</div>
